apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tautulli-config
  labels:
    app.kubernetes.io/name: tautulli
spec:
  storageClassName: truenas-iscsi-spitfire-fast
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
