id: 60e342d66fda58f8b4e399741ba26a519448b382c430e36f4423976e8054b930
hs_token: {{ matrix_appservice_webhooks_hs_token }}
as_token: {{ matrix_appservice_webhooks_as_token }}
namespaces:
  users:
    - exclusive: true
      regex: '@_webhook.*'
  aliases: []
  rooms: []
url: 'http://10.72.128.5:9000'
sender_localpart: _webhook
rate_limited: false
protocols: null