{% set ifname = 'wg1' %}
[Interface]
{% for address in wireguard[ifname]['addresses'] %}
Address = {{ address }}
{% endfor %}
{% if 'post-up' in wireguard[ifname] %}
PostUp = {{ wireguard[ifname]['post-up'] }}
{% endif %}
{% if 'post-down' in wireguard[ifname] %}
PostDown = {{ wireguard[ifname]['post-down'] }}
{% endif %}
PrivateKey = {{ wireguard[ifname]['private_key'] }}
ListenPort = {{ wireguard[ifname]['port'] }}

{% for peer in wireguard[ifname]['peers'] %}
[Peer]
PublicKey = {{ peer['public_key'] }}
AllowedIps = {{ peer['allowed_ips']|join(', ') }}
{% if 'endpoint' in peer %}
Endpoint = {{ peer['endpoint'] }}
{% endif %}

{% endfor %}