[defaults]
inventory = inventory/hosts.yaml
vault_password_file = ../../fetch_vault_password_from_password_store.sh
pipelining = True
callback_whitelist = profile_tasks
[persistent_connection]
command_timeout=45
