[defaults]
inventory = inventory/hosts.yaml
vault_password_file = ../../fetch_vault_password_from_password_store.sh
private_key_file = ~/.ssh/automation_key
pipelining = True
callback_enabled = profile_tasks
[persistent_connection]
command_timeout=45
