server {
# regular vhost
    listen 0.0.0.0:80;
    listen [::]:80;
    server_name usercontent.{{ matrix_synapse_server_name }};
    server_tokens off;

    access_log  /var/log/nginx/usercontent_access.log;
    error_log   /var/log/nginx/usercontent_error.log;

    location / {
        root   /usr/share/nginx/html/usercontent;
        index  v1.html;
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}

server {
# regular vhost
    listen 0.0.0.0:80;
    listen [::]:80;
    server_name {{ matrix_synapse_server_name }};
    server_tokens off;

    access_log  /var/log/nginx/matrix_access.log;
    error_log   /var/log/nginx/matrix_error.log;

    # disable any limits to avoid HTTP 413 for large image uploads
    client_max_body_size 0;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    # This shit needs to be cleaned up
    location /api {
        location /api/v1 {
            location /api/v1/matrix {
                location /api/v1/matrix/slack {
                    location /api/v1/matrix/slack/hook {
                        proxy_set_header    Host                $http_host;
                        proxy_set_header    X-FORWARDED-HOST    $http_host;
                        proxy_set_header    X-FORWARDED-PORT    $http_port;
                        proxy_set_header    X-REAL-IP           $remote_addr;
                        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
                        proxy_set_header    X-FORWARDED-PROTO   https;
                        proxy_pass_request_headers      on;
                        #proxy_pass http://matrix_appservice_webhooks_1:9000;
                        proxy_pass http://10.72.128.5:9000;
                    }
                }
                location /api/v1/matrix/hook {
                    proxy_set_header    Host                $http_host;
                    proxy_set_header    X-FORWARDED-HOST    $http_host;
                    proxy_set_header    X-FORWARDED-PORT    $http_port;
                    proxy_set_header    X-REAL-IP           $remote_addr;
                    proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
                    proxy_set_header    X-FORWARDED-PROTO   https;
                    proxy_pass_request_headers      on;
                    #proxy_pass http://matrix_appservice_webhooks_1:9000;
                    proxy_pass http://10.72.128.5:9000;
                }
            }
        }
    }

    location /_matrix {
        proxy_set_header    Host                $http_host;
        proxy_set_header    X-FORWARDED-HOST    $http_host;
        proxy_set_header    X-FORWARDED-PORT    $http_port;
        proxy_set_header    X-REAL-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-FORWARDED-PROTO   https;
        proxy_pass_request_headers      on;
        proxy_pass http://10.72.128.4:8008;
    }

    location /.well-known {
        location /.well-known/matrix {
            location /.well-known/matrix/client {
                proxy_set_header    Host                $http_host;
                proxy_set_header    X-FORWARDED-HOST    $http_host;
                proxy_set_header    X-FORWARDED-PORT    $http_port;
                proxy_set_header    X-REAL-IP           $remote_addr;
                proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
                proxy_set_header    X-FORWARDED-PROTO   https;
                proxy_pass_request_headers      on;
                proxy_pass http://10.72.128.4:8008;
            }
        }
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}