apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- ./resources/namespace.yaml
- ./resources/monitoring.yaml
- ./resources/monitoring-rbac.yaml
- ./resources/ingress.yaml
- ./resources/tlsoptions.yaml
- ./resources/volume.yaml
- ./resources/dns.yaml

namespace: unifi

generators:
- ./generators/secrets-generator.yaml

configMapGenerator:
- name: unifi-poller-config
  literals:
  - UP_INFLUXDB_DISABLE="true"
  - UP_POLLER_DEBUG="false"
  - UP_UNIFI_DEFAULT_URL="https://unifi.tdude.co"
  - UP_UNIFI_DEFAULT_USER="unifipoller"
  - UP_PROMETHEUS_HTTP_LISTEN=:9130
