apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/kube-plex.yaml
- ./resources/sonarr.yaml
- ./resources/radarr.yaml
- ./resources/lidarr.yaml
- ./resources/jackett.yaml
- ./resources/prowlarr.yaml
- ./resources/qbittorrent.yaml
- ./resources/tautulli.yaml
- ./resources/overseerr.yaml
- ./resources/jellyfin.yaml
- ./resources/wizarr.yaml
- ./resources/pvc.yaml
- ./resources/rbac.yaml
- ./resources/namespace.yaml

images:
- name: quay.io/munnerz/kube-plex
  digest: sha256:13fffb730e53e451a6be2c649c4da3dfb252bb411802ce87f9f704d602d3a195
- name: plexinc/pms-docker
  digest: sha256:1131c4cd21fa22f8196f749f1dbb69af306776c3c83c7f5b061e51dc49bcff7f
- name: ghcr.io/linuxserver/jackett
  digest: sha256:5906ec80f00735b5ee8246ec21e98d424ac7a224331047ad50a19e4d583be7b0
- name: ghcr.io/linuxserver/radarr
  digest: sha256:f08dda38e7d12e5a722d9a5cb6e54acaf63c8598fefeefec88effe0c0d0038dd
- name: ghcr.io/linuxserver/sonarr
  digest: sha256:6f73bbba33391a338e20d836a60c86beaf2a865a89b706b339fc8cb0b8ce1559
- name: ghcr.io/linuxserver/lidarr
  digest: sha256:37a3df74f4c2a6f10eead66f4d8034362ebf2866f935026b4a71dd888b9e7f08
- name: ghcr.io/linuxserver/prowlarr
  newTag: develop@sha256:e505c41f5f89a2c8cf31ff3a5479cd7d30e15075d633ec818cf273f8737a79ee
- name: ghcr.io/linuxserver/qbittorrent
  newTag: 5.1.4@sha256:dfa75bc534ad4f36262f75b5c1d4c4f0ddd5e7ed5711ebc581c70920cce204ee
- name: ghcr.io/linuxserver/tautulli
  digest: sha256:31bce3c8457e74392c8c451eee315a759f8b96ec7cff6060596152d7e893b776
- name: ghcr.io/fallenbagel/jellyseer
  digest: sha256:499fbe958fa4a0c93172a231c14898986556bb28bd5cd569a0f41dbf887b04d7
- name: ghcr.io/wizarrrr/wizarr
  newTag: "v2025.12.0@sha256:c6eb584462c754e03a12eb619ad5960ba4e6c3fcb2fa0b8dec62023b053112f2"
- name: ghcr.io/jellyfin/jellyfin
  newTag: "10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e"
