apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/kube-plex.yaml
- ./resources/sonarr.yaml
- ./resources/radarr.yaml
- ./resources/lidarr.yaml
- ./resources/jackett.yaml
- ./resources/prowlarr.yaml
- ./resources/qbittorrent.yaml
- ./resources/tautulli.yaml
- ./resources/overseerr.yaml
- ./resources/jellyfin.yaml
- ./resources/wizarr.yaml
- ./resources/pvc.yaml
- ./resources/rbac.yaml
- ./resources/namespace.yaml

images:
- name: quay.io/munnerz/kube-plex
  digest: sha256:13fffb730e53e451a6be2c649c4da3dfb252bb411802ce87f9f704d602d3a195
- name: plexinc/pms-docker
  digest: sha256:9c03c26b9479ba9a09935f3367459bfdc8d21545f42ed2a13258983c5be1b252
- name: ghcr.io/linuxserver/jackett
  digest: sha256:e6bf780bfa61df33095dacb19ffa60f2074fdb3a68da4a64dea855d055deb882
- name: ghcr.io/linuxserver/radarr
  digest: sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
- name: ghcr.io/linuxserver/sonarr
  digest: sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de
- name: ghcr.io/linuxserver/lidarr
  digest: sha256:ede2bb17350cc97a0d3f24389aa91803f655eac29aa022c77a71f4a61cc621e4
- name: ghcr.io/linuxserver/prowlarr
  newTag: develop@sha256:aeb303a86be70dfb3fa5508bbd9399f5123b74f73b00b91eb76eb34efe4c5650
- name: ghcr.io/linuxserver/qbittorrent
  newTag: 5.1.4@sha256:043498de39c3dd63eec94360c5ad966a51271d1581070f42cb73ab0cf4776f29
- name: ghcr.io/linuxserver/tautulli
  digest: sha256:4d764be0f66532f6820a82aa365e530414f50f462410ce0949edd3fc22ccb9d5
- name: ghcr.io/fallenbagel/jellyseer
  digest: sha256:499fbe958fa4a0c93172a231c14898986556bb28bd5cd569a0f41dbf887b04d7
- name: ghcr.io/wizarrrr/wizarr
  newTag: "v2025.12.0@sha256:c6eb584462c754e03a12eb619ad5960ba4e6c3fcb2fa0b8dec62023b053112f2"
- name: ghcr.io/jellyfin/jellyfin
  newTag: "10.10.7@sha256:e4d1dc5374344446a3a78e43dd211247f22afba84ea2e5a13cbe1a94e1ff2141"
