apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/kube-plex.yaml
- ./resources/sonarr.yaml
- ./resources/radarr.yaml
- ./resources/lidarr.yaml
- ./resources/jackett.yaml
- ./resources/prowlarr.yaml
- ./resources/qbittorrent.yaml
- ./resources/tautulli.yaml
- ./resources/overseerr.yaml
- ./resources/jellyfin.yaml
- ./resources/pvc.yaml
- ./resources/rbac.yaml
- ./resources/namespace.yaml

images:
- name: quay.io/munnerz/kube-plex
  digest: sha256:13fffb730e53e451a6be2c649c4da3dfb252bb411802ce87f9f704d602d3a195
- name: plexinc/pms-docker
  digest: sha256:9c03c26b9479ba9a09935f3367459bfdc8d21545f42ed2a13258983c5be1b252
- name: ghcr.io/linuxserver/jackett
  digest: sha256:d07b275ed34093fbafbcffb55d6ea0034be9966583988721324aa1955c6563bf
- name: ghcr.io/linuxserver/radarr
  digest: sha256:19474a623b278f558c9696a19b84640ad4aff3b2959f08904a77ffbad73ed7bd
- name: ghcr.io/linuxserver/sonarr
  digest: sha256:bb50bac26881613af15deb4df891e4a7cb09e3333aec20a0522cb188fb22b11d
- name: ghcr.io/linuxserver/lidarr
  digest: sha256:f8d8ea187c97c893175cf74d6f22ce7d32820e94136b466a16dd06fedd765e30
- name: ghcr.io/linuxserver/prowlarr
  newTag: develop@sha256:a056b1445638ffe7b670dce53492fff0c04865af9e61a149029a9a253bb9663e
- name: ghcr.io/linuxserver/qbittorrent
  newTag: 5.1.2@sha256:344512822c3325e2238cb46639e77759448ff556e0568fbedf168814690eea4d
- name: ghcr.io/linuxserver/tautulli
  digest: sha256:e59ad4e5ad8ba315696b47944869b84989984e6c335e8df38e5f8bccce31fd18
- name: ghcr.io/fallenbagel/jellyseer
  digest: sha256:499fbe958fa4a0c93172a231c14898986556bb28bd5cd569a0f41dbf887b04d7
