apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/kube-plex.yaml
- ./resources/sonarr.yaml
- ./resources/radarr.yaml
- ./resources/lidarr.yaml
- ./resources/jackett.yaml
- ./resources/prowlarr.yaml
- ./resources/qbittorrent.yaml
- ./resources/tautulli.yaml
- ./resources/overseerr.yaml
- ./resources/jellyfin.yaml
- ./resources/wizarr.yaml
- ./resources/pvc.yaml
- ./resources/rbac.yaml
- ./resources/namespace.yaml

images:
- name: quay.io/munnerz/kube-plex
  digest: sha256:13fffb730e53e451a6be2c649c4da3dfb252bb411802ce87f9f704d602d3a195
- name: plexinc/pms-docker
  digest: sha256:d38767ec3b948e860bcf1abfe16512bd638e6ac01230f5b65b64e2ef09052267
- name: ghcr.io/linuxserver/jackett
  digest: sha256:506e9b451ea9f1a7c14c87a9a1fae1b848f156307ca3caab6c047dcbd18292b0
- name: ghcr.io/linuxserver/radarr
  digest: sha256:270f25698624b57b86ca119cc95399d7ff15be8297095b4e1223fd5b549b732c
- name: ghcr.io/linuxserver/sonarr
  digest: sha256:02b4d538d351d6e35882a021c08e8600fe95d28860fb1dd724b597166e7221ca
- name: ghcr.io/linuxserver/lidarr
  digest: sha256:fbc96b5d7eab74230feb5bcbdb29fcbfaa6d0afa7a2cb2fe28171209ea9bc956
- name: ghcr.io/linuxserver/prowlarr
  newTag: develop@sha256:5a5cc5dfd42af3e498ca244cee77b467e1a289060396d53ef226c2cd47497266
- name: ghcr.io/linuxserver/qbittorrent
  newTag: 5.1.4@sha256:b8a08ffba8850e2e71153e153cf5eed2dedbf499ef9b123262735ce924b65586
- name: ghcr.io/linuxserver/tautulli
  digest: sha256:5d2e1df34ea8c3a8fb1c387873866a43ec4e95470b1a4b601da94c2e71b23e74
- name: ghcr.io/fallenbagel/jellyseer
  digest: sha256:499fbe958fa4a0c93172a231c14898986556bb28bd5cd569a0f41dbf887b04d7
- name: ghcr.io/wizarrrr/wizarr
  newTag: "v2025.12.0@sha256:c6eb584462c754e03a12eb619ad5960ba4e6c3fcb2fa0b8dec62023b053112f2"
- name: ghcr.io/jellyfin/jellyfin
  newTag: "10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e"
