version: '2.3'
services:
  kerio-connect:
    container_name: kerio-connect
    image: starcraft66/kerio-connect:{{ kerio_connect_version }}
    restart: always
    environment:
      - PUID=944 # default user id, for downloaded files access rights
      - PGID=944 # default group id, for downloaded files access rights
      - TZ=Europe/Paris # timezone
    volumes:
      - {{ kerio_installation_folder }}/cluster.cfg:/opt/kerio/mailserver/cluster.cfg
      - {{ kerio_installation_folder }}/users.cfg:/opt/kerio/mailserver/users.cfg
      - {{ kerio_installation_folder }}/mailserver.cfg:/opt/kerio/mailserver/mailserver.cfg
      - {{ kerio_installation_folder }}/stats.dat:/opt/kerio/mailserver/stats.dat
      - {{ kerio_installation_folder }}/charts.dat:/opt/kerio/mailserver/charts.dat
      - {{ kerio_license_folder }}:/opt/kerio/mailserver/license
      - {{ kerio_store_folder }}:/opt/kerio/mailserver/store
      - {{ kerio_sslcert_folder }}:/opt/kerio/mailserver/sslcert
    ports:
      - "212.83.139.100:4040:4040"
      - "212.83.139.100:25:25"
      - "212.83.139.100:80:80"
      - "212.83.139.100:110:110"
      - "212.83.139.100:119:119"
      - "212.83.139.100:143:143"
      - "212.83.139.100:389:389"
      - "212.83.139.100:443:443"
      - "212.83.139.100:465:465"
      - "212.83.139.100:563:563"
      - "212.83.139.100:587:587"
      - "212.83.139.100:636:636"
      - "212.83.139.100:993:993"
      - "212.83.139.100:995:995"
      - "212.83.139.100:5222:5222"
      - "212.83.139.100:5223:5223"
    networks:
      kerio:
        ipv4_address: 10.72.129.2
        ipv6_address: "2001:bc8:2517:107::2"

networks:
  kerio:
    #name: kerio
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-kerio
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.72.129.0/24
          gateway: 10.72.129.1
        - subnet: "2001:bc8:2517:107::/64"
          gateway: "2001:bc8:2517:107::1"