apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: funkwhale-postgres
spec:
  instances: 1
  topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        cnpg.io/cluster: funkwhale-postgres
  bootstrap:
    initdb:
      database: funkwhale
      owner: funkwhale
      postInitSQL:
        - CREATE EXTENSION citext;
        - CREATE EXTENSION unaccent;
      secret:
        name: postgres
  storage:
    storageClass: truenas-nfs-spitfire-fast
    size: 10Gi
  monitoring:
    enablePodMonitor: true