apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml
- ./resources/postgres.yaml
- ./resources/statefulset.yaml
- ./resources/service.yaml
- ./resources/volume.yaml

namespace: immich

helmCharts:
- name: redis
  releaseName: immich-redis
  version: 20.x
  repo: oci://registry-1.docker.io/bitnamicharts
  namespace: immich
  valuesInline:
    architecture: standalone
    auth:
      enabled: false
    master:
      persistence:
        enabled: false
