firewall {
    all-ping enable
    broadcast-ping disable
    config-trap disable
    group {
        address-group ADDRv4_eth2 {
            address 24.225.136.165
        }
        address-group NETv4_eth2 {
            address 24.225.136.0
        }
        ipv6-address-group k8s_LB {
            address 2001:470:b156:8a54:3::2
            address 2607:fa48:6ed8:8a54:3::2
            address 2a10:4741:36:8a54:3::2
            description "Kubernetes LoadBalancer IPv6 Addresses"
        }
        network-group 104-1831-Guest {
            description "Guest VLAN"
            network 172.17.53.0/24
        }
        network-group 104-1831-Home {
            description "Home VLAN"
            network 172.17.51.0/24
        }
        network-group 104-1831-Management {
            description "Management VLAN"
            network 172.17.52.0/24
        }
        network-group Aeroteknic {
            description "Aeroteknic VLAN"
            network 172.16.47.0/24
        }
        network-group InternalVLANS {
            network 172.16.47.0/24
            network 172.16.29.0/24
            network 172.16.24.0/24
            network 192.168.0.0/24
            network 172.16.69.0/24
        }
        network-group Lab {
            description "Lab VLAN"
            network 172.16.29.0/24
        }
        network-group Management {
            description "Management VLAN"
            network 172.16.24.0/24
        }
        network-group RestrictedNetworks {
            description "Restricted Networks"
            network 10.221.32.8/29
        }
        network-group Susanna {
            description "Susanna VLAN"
            network 192.168.0.0/24
        }
        network-group TrustedVLANS {
            network 172.16.47.0/24
            network 172.16.29.0/24
            network 172.16.24.0/24
            network 172.16.69.0/24
        }
        port-group PortForwarding {
            port 22
            port 80
            port 443
            port 8443
            port 32400
            port 9822
            port 9823
            port 3955
            port 25565
            port 55324
            port 15777
            port 15000
            port 7777
        }
        port-group WireGuard {
            description WireGuard
            port 51820
            port 51821
            port 51847
            port 51822
        }
        port-group liam {
            port 9443
            port 25565
        }
        port-group web {
            description "web ports"
            port 80
            port 443
            port 8080
            port 8443
        }
    }
    interface eth2 {
        in {
            ipv6-name WAN6_IN6
            name WAN_IN
        }
        local {
            ipv6-name WAN6_LOCAL6
            name WAN_LOCAL
        }
        out {
        }
    }
    interface wg3 {
        in {
            ipv6-name WAN6_IN6
        }
        local {
            ipv6-name WAN6_LOCAL6
        }
    }
    ipv6-name NETFLIX_CHROMECAST {
        default-action accept
        rule 1 {
            action reject
            description "Reject 8888"
            destination {
                address 2001:4860:4860::8888
            }
            log disable
            protocol all
            source {
                mac-address f4:f5:d8:76:4e:24
            }
        }
        rule 2 {
            action reject
            description "Reject google dns 8844"
            destination {
                address 2001:4860:4860::8844
            }
            log disable
            protocol all
            source {
                mac-address f4:f5:d8:76:4e:24
            }
        }
    }
    ipv6-name WAN6_IN6 {
        default-action drop
        rule 1 {
            action accept
            description "Accept established/related"
            log disable
            protocol all
            state {
                established enable
                related enable
            }
        }
        rule 2 {
            action drop
            description "Drop invalid"
            log disable
            protocol all
            state {
                established disable
                invalid enable
                new disable
                related disable
            }
        }
        rule 5 {
            action accept
            description "borgbackup jail ssh"
            destination {
                address 2607:fa48:6ed8:8a51:25:90ff:fe69:277d
                port 22
            }
            protocol tcp
        }
        rule 6 {
            action accept
            description "Accept inbount icmpv6"
            log disable
            protocol ipv6-icmp
            source {
            }
        }
        rule 7 {
            action accept
            description "Allow v6 access to k8s LoadBalancer IPs"
            destination {
                group {
                    address-group k8s_LB
                }
            }
            protocol tcp_udp
        }
        rule 8 {
            action accept
            description "Minecraft Cacaffichage"
            destination {
                address 2a10:4741:36:8a54:3::6
                port 12345
            }
            protocol tcp
        }
        rule 9 {
            action accept
            description "Minecraft FTB Ultimate"
            destination {
                address 2a10:4741:36:8a54:3::7
                port 12346
            }
            protocol tcp
        }
        rule 10 {
            action accept
            description "Minecraft SkyFactory 4"
            destination {
                address 2a10:4741:36:8a54:3::1
                port 12347
            }
            protocol tcp
        }
        rule 11 {
            action accept
            description "Liam Server"
            destination {
                address 2a10:4741:36:31:28c:faff:fef5:fe0c
                port 9443,25565,22
            }
            protocol tcp_udp
        }
        rule 12 {
            action accept
            description "borgbackup jail ssh nat66"
            destination {
                address 2a10:4741:36:8a51:25:90ff:fe69:277d
                port 22
            }
            protocol tcp
        }
        rule 13 {
            action accept
            description "Minecraft FTB Academy"
            destination {
                address 2a10:4741:36:8a54:3::
                port 12351
            }
            protocol tcp
        }
        rule 14 {
            action accept
            description "Minecraft GTNH"
            destination {
                address 2a10:4741:36:8a54:3::3
                port 12350
            }
            protocol tcp
        }
    }
    ipv6-name WAN6_LOCAL6 {
        default-action drop
        rule 1 {
            action accept
            description "Accept established/related"
            log disable
            protocol all
            state {
                established enable
                invalid disable
                new disable
                related enable
            }
        }
        rule 2 {
            action drop
            description "Drop invalid"
            log disable
            protocol all
            state {
                established disable
                invalid enable
                new disable
                related enable
            }
        }
        rule 3 {
            action accept
            description "Accept local icmpv6"
            log disable
            protocol ipv6-icmp
            source {
            }
        }
        rule 4 {
            action accept
            description "Accept DHCPv6"
            destination {
                port 546
            }
            log disable
            protocol udp
            source {
                port 547
            }
        }
        rule 5 {
            action accept
            description Wireguard
            destination {
                group {
                    port-group WireGuard
                }
            }
            protocol udp
        }
    }
    ipv6-receive-redirects disable
    ipv6-src-route disable
    ip-src-route disable
    log-martians enable
    name LAB_LOCAL {
        default-action accept
        enable-default-log
        rule 1 {
            action accept
            description "Allow Lab"
            log disable
            protocol all
            source {
                group {
                    network-group Lab
                }
            }
        }
        rule 2 {
            action drop
            description "Drop Guest"
            log disable
            protocol all
            source {
                group {
                    network-group 104-1831-Guest
                }
            }
        }
    }
    name LAB_LOCAL2 {
        default-action accept
        rule 1 {
            action drop
            description "Drop 104-1831-Guest"
            log disable
            protocol all
            source {
                group {
                    network-group 104-1831-Guest
                }
            }
        }
    }
    name NETFLIX_LUL {
        default-action accept
        rule 1 {
            action reject
            description "Block primary google dns on wifi chromecast"
            destination {
                address 8.8.8.8
            }
            log disable
            protocol all
            source {
                mac-address f4:f5:d8:76:4e:24
            }
        }
        rule 2 {
            action reject
            description "Block secondary google dns on wifi chromecast"
            destination {
                address 8.8.4.4
            }
            log disable
            protocol all
            source {
                mac-address f4:f5:d8:76:4e:24
            }
        }
        rule 3 {
            action reject
            description "Block primary google dns on ethernet chromecast"
            destination {
                address 8.8.8.8
            }
            log disable
            protocol all
            source {
                mac-address 00:0e:c6:da:57:a7
            }
        }
        rule 4 {
            action reject
            description "Block secondary google dns on ethernet chromecast"
            destination {
                address 8.8.4.4
            }
            log disable
            protocol all
            source {
                mac-address 00:0e:c6:da:57:a7
            }
        }
    }
    name WAN_IN {
        default-action drop
        description "WAN to internal"
        rule 10 {
            action accept
            description "Allow established/related"
            state {
                established enable
                related enable
            }
        }
        rule 30 {
            action accept
            destination {
                group {
                    port-group PortForwarding
                }
            }
            log disable
            protocol tcp_udp
        }
        rule 40 {
            action drop
            description "Drop invalid state"
            state {
                invalid enable
            }
        }
    }
    name WAN_LOCAL {
        default-action drop
        description "WAN to router"
        rule 10 {
            action accept
            description "Allow established/related"
            state {
                established enable
                related enable
            }
        }
        rule 20 {
            action accept
            description "allow ping v4"
            log disable
            protocol icmp
        }
        rule 40 {
            action drop
            description "Drop invalid state"
            state {
                invalid enable
            }
        }
        rule 50 {
            action accept
            description "Allow 6to4"
            log disable
            protocol 41
            source {
                address 216.66.38.58
            }
        }
        rule 51 {
            action accept
            description "allow ssh 8766"
            destination {
                port 9452,8766,22
            }
            log disable
            protocol tcp_udp
        }
        rule 52 {
            action accept
            description WireGuard
            destination {
                group {
                    port-group WireGuard
                }
            }
            protocol udp
        }
    }
    name nerdsinc {
        default-action drop
        description "Nerds Inc network firewall"
        rule 10 {
            action accept
            description "allow http/s from nginx"
            destination {
                group {
                    port-group web
                }
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    network-group InternalVLANS
                }
            }
        }
        rule 20 {
            action accept
            description "Allow nhack vm to ssh into itself"
            destination {
                group {
                    address-group ADDRv4_eth2
                }
                port 567
            }
            log disable
            protocol tcp_udp
        }
        rule 30 {
            action drop
            destination {
                group {
                    network-group InternalVLANS
                }
            }
            protocol all
        }
        rule 60 {
            action accept
            description "Allow outbound to the net"
            destination {
                group {
                    address-group NETv4_eth2
                }
            }
            log disable
            protocol all
        }
        rule 70 {
            action drop
            description "No access to router"
            destination {
                address 10.221.32.9
                port 22,80,443
            }
            log disable
            protocol tcp_udp
        }
    }
    name nrdsinc_in {
        default-action accept
        description "Nerds Inc network firewall"
        rule 10 {
            action accept
            description "allow http/s from nginx"
            destination {
                address 172.16.29.20
            }
            log disable
            protocol tcp_udp
            source {
                group {
                    port-group web
                }
            }
        }
        rule 20 {
            action accept
            description "Allow nhack vm to ssh into itself"
            destination {
                group {
                    address-group ADDRv4_eth2
                }
                port 567
            }
            log disable
            protocol tcp_udp
        }
        rule 50 {
            action accept
            description "Allow outbound to the net"
            destination {
                address 8.8.8.8
            }
            log disable
            protocol all
        }
        rule 60 {
            action drop
            description "No access to router"
            destination {
                address 10.221.32.9
                port 22,80,443
            }
            log disable
            protocol tcp_udp
        }
        rule 70 {
            action drop
            destination {
                group {
                    network-group InternalVLANS
                }
            }
            log disable
            protocol all
            source {
                address 10.221.32.8/29
            }
            state {
                established disable
                invalid disable
                new enable
                related disable
            }
        }
    }
    receive-redirects disable
    send-redirects enable
    source-validation disable
    syn-cookies enable
    twa-hazards-protection disable
}
interfaces {
    ethernet eth0 {
        address dhcp
        hw-id 7c:d3:0a:25:3c:51
        offload {
            gro
        }
    }
    ethernet eth1 {
        description Local
        duplex auto
        hw-id 00:19:99:fe:85:17
        ipv6 {
            dup-addr-detect-transmits 1
        }
        offload {
            gro
            gso
            sg
            tso
        }
        speed auto
        vif 25 {
            address 172.32.25.1/30
            address 2607:fa48:6ed8:8a5d::1/64
            address 2a10:4741:36:25::1/64
        }
    }
    ethernet eth2 {
        address dhcp
        address dhcpv6
        description Internet
        dhcpv6-options {
            duid 00:04:c1:0f:28:a1:ac:95:4c:69:91:15:e0:ff:99:0d:46:48
            pd 0 {
                interface eth1.25 {
                    address 1
                    sla-id 37
                }
                length 56
            }
        }
        duplex auto
        hw-id 00:19:99:fe:85:18
        offload {
            gro
            gso
            sg
            tso
        }
        speed auto
    }
    loopback lo {
    }
    tunnel tun0 {
        address 2001:470:1c:1ea::2/64
        description "HE.NET IPv6 Tunnel"
        encapsulation sit
        remote 216.66.38.58
        source-address 24.225.136.165
    }
    wireguard wg0 {
        address 172.32.1.1/24
        address 2a10:4741:36:8a5f::32:1/112
        mtu 1412
        peer CocoPommel {
            allowed-ips 2a10:4741:36:8a5f::32:101/128
            allowed-ips 172.32.1.253/32
            public-key OVG8vlLBfK7DMrTAz90n89TnAqZAcX8+sW5JL8C9dDc=
        }
        peer NightmareMoon {
            allowed-ips 2a10:4741:36:8a5f::32:100/128
            allowed-ips 172.32.1.254/32
            public-key IsPGQBxGndxpa4CrKiUT4h+MFWZcndXDaLtNbefqXR4=
        }
        peer ZOGtWLzpIKxUA0sbJrm7qs3DwtuCoX219ABuz6K2Ijo= {
            allowed-ips 172.32.2.0/24
            allowed-ips 172.32.4.0/24
            public-key ZOGtWLzpIKxUA0sbJrm7qs3DwtuCoX219ABuz6K2Ijo=
        }
        peer tq87M3ySTBLw5o6UFFAfUMv5+YpavF5V+yWUZXQWpBQ= {
            address 158.69.211.121
            allowed-ips 172.32.3.0/24
            port 51281
            public-key tq87M3ySTBLw5o6UFFAfUMv5+YpavF5V+yWUZXQWpBQ=
        }
        peer yjbVM0u3xM6UiXwFE07OZqe0t3ZNSecHxSGxQ00a/gI= {
            allowed-ips 0.0.0.0/0
            allowed-ips ::0/0
            public-key yjbVM0u3xM6UiXwFE07OZqe0t3ZNSecHxSGxQ00a/gI=
        }
        port 51820
        private-key sC73bF0zaG7Go/3Xug65zyWYrizS3toDG99tvPT0cVo=
    }
    wireguard wg1 {
        address 172.32.2.1/24
        address 2a10:4741:36:8a5f::33:1/112
        mtu 1420
        peer xUids189d2VUDrDyBYzIjw1oJCZ/aw90XyjaSdhIcRo= {
            allowed-ips 0.0.0.0/0
            allowed-ips ::0/0
            public-key xUids189d2VUDrDyBYzIjw1oJCZ/aw90XyjaSdhIcRo=
        }
        port 51821
        private-key sC73bF0zaG7Go/3Xug65zyWYrizS3toDG99tvPT0cVo=
    }
    wireguard wg2 {
        address 2a10:4741:36:8a5f::34:1/112
        peer bunker {
            allowed-ips 2a10:4741:36:8a5f::34:0/112
            public-key Tiwq8jbwgdcRPqGssGze7xmZi9KvGOFjkbMN1z5ZylM=
        }
        port 51822
        private-key eFh7LtjzydpgX+4rYC0v+8p4WWRRlY02N+tNvwC3Sls=
    }
    wireguard wg3 {
        address 2a10:4741:33:1::2/64
        peer yyz-r1 {
            address 137.220.55.38
            allowed-ips 2a10:4741:36::/48
            allowed-ips ::/0
            persistent-keepalive 120
            port 51821
            public-key YMYJpr33XFmHDfOuIF0GurGWwIORFbcVThRSTibyNg4=
        }
        port 51823
        private-key YC8Zym5gK+zd6QpAmYxMUalY8rxYEayMmwqzG6Egg0M=
    }
    wireguard wg47 {
        address 172.32.47.1/24
        peer natalie {
            allowed-ips 172.32.47.0/24
            public-key HBDOXoAJqwSPM1iYf26yvLIvPlopKlFpzfA1Z8v5ngc=
        }
        port 51847
        private-key ePv7lKXziDVwmdZ20ChQwW6rGWPkn55xK3naK0iOek4=
    }
}
nat {
    destination {
        rule 10 {
            description "Traefik HTTP"
            destination {
                port 80
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 10.224.0.3
            }
        }
        rule 11 {
            description "Traefik HTTPS"
            destination {
                port 443
            }
            inbound-interface eth2
            protocol tcp_udp
            translation {
                address 10.224.0.3
            }
        }
        rule 14 {
            description "Lifesaver Guillaume SSH"
            destination {
                port 2803
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 172.16.29.27
                port 22
            }
        }
        rule 15 {
            description "Minecraft Cacaffichage"
            destination {
                port 12345
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 10.224.0.4
                port 25565
            }
        }
        rule 16 {
            description "Minecraft Discord Bridge"
            destination {
                port 9822
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 172.16.29.29
            }
        }
        rule 17 {
            description "Minecraft Discord Bridge"
            destination {
                port 9823
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 172.16.29.29
            }
        }
        rule 20 {
            description qBittorrent
            destination {
                port 55324
            }
            inbound-interface eth2
            protocol tcp_udp
            translation {
                address 10.224.0.69
            }
        }
        rule 21 {
            description "Minecraft FTB Ultimate"
            destination {
                port 12346
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 10.224.0.8
                port 25565
            }
        }
        rule 22 {
            description "Minecraft SkyFactory 4"
            destination {
                port 12347
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 10.224.0.6
                port 25565
            }
        }
        rule 23 {
            description Satisfactory
            destination {
                port 15777,15000,7777
            }
            inbound-interface eth2
            protocol udp
            translation {
                address 10.224.0.2
            }
        }
        rule 24 {
            description "Minecraft beyond roast beef"
            destination {
                port 12348
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 10.224.0.7
                port 25565
            }
        }
        rule 25 {
            description "Liam Minecraft"
            destination {
                port 1025
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 172.16.31.3
                port 25565
            }
        }
        rule 26 {
            description "Minecraft FTB Academy"
            destination {
                port 12351
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 10.224.0.5
                port 25565
            }
        }
        rule 27 {
            description "Minecraft GTNH"
            destination {
                port 12350
            }
            inbound-interface eth2
            protocol tcp
            translation {
                address 10.224.0.0
                port 25565
            }
        }
    }
    source {
        rule 100 {
            outbound-interface eth2
            source {
                address 192.168.0.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 101 {
            outbound-interface eth2
            source {
                address 172.16.24.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 102 {
            outbound-interface eth2
            source {
                address 172.16.29.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 103 {
            outbound-interface eth2
            source {
                address 172.16.47.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 104 {
            outbound-interface eth2
            source {
                address 10.221.32.0/29
            }
            translation {
                address masquerade
            }
        }
        rule 105 {
            outbound-interface eth2
            source {
                address 10.221.32.8/29
            }
            translation {
                address masquerade
            }
        }
        rule 106 {
            outbound-interface eth2
            source {
                address 172.32.1.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 107 {
            outbound-interface eth2
            source {
                address 172.16.31.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 200 {
            description "NAT Reflection: INSIDE (Susanna)"
            destination {
                address 192.168.0.0/24
            }
            outbound-interface eth2
            source {
                address 192.168.0.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 201 {
            description "NAT Reflection: INSIDE (Management)"
            destination {
                address 172.16.24.0/24
            }
            outbound-interface eth2
            source {
                address 172.16.24.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 202 {
            description "NAT Reflection: INSIDE (Lab)"
            destination {
                address 172.16.29.0/24
            }
            outbound-interface eth2
            source {
                address 172.16.29.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 203 {
            description "NAT Reflection: INSIDE (Aero Teknic)"
            destination {
                address 172.16.47.0/24
            }
            outbound-interface eth2
            source {
                address 172.16.47.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 204 {
            description "NAT Reflection: INSIDE (nerdsinc)"
            destination {
                address 10.221.32.0/29
            }
            outbound-interface eth2
            source {
                address 10.221.32.0/29
            }
            translation {
                address masquerade
            }
        }
        rule 205 {
            description "NAT Reflection: INSIDE (nerdsinc2)"
            destination {
                address 10.221.32.8/29
            }
            outbound-interface eth2
            source {
                address 10.221.32.8/29
            }
            translation {
                address masquerade
            }
        }
        rule 206 {
            description "NAT Reflection: INSIDE (nerdsinc2)"
            destination {
                address 172.32.1.0/24
            }
            outbound-interface eth2
            source {
                address 172.32.1.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 207 {
            description "NAT Reflection: INSIDE (Liam)"
            destination {
                address 172.16.31.0/24
            }
            outbound-interface eth2
            source {
                address 172.16.31.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 210 {
            description "Kubernetes Nodes v4"
            outbound-interface eth2
            source {
                address 172.16.30.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 211 {
            description "NAT Reflection: INSIDE (Kubernetes Nodes v4)"
            destination {
                address 172.16.30.0/24
            }
            outbound-interface eth2
            source {
                address 172.16.30.0/24
            }
            translation {
                address masquerade
            }
        }
        rule 212 {
            description "Kubernetes Pods v4"
            outbound-interface eth2
            source {
                address 10.233.64.0/18
            }
            translation {
                address masquerade
            }
        }
        rule 213 {
            description "NAT Reflection: INSIDE (Kubernetes Pods v4)"
            destination {
                address 10.233.64.0/18
            }
            outbound-interface eth2
            source {
                address 10.233.64.0/18
            }
            translation {
                address masquerade
            }
        }
        rule 214 {
            description "Kubernetes Pods v4"
            outbound-interface eth2
            source {
                address 10.234.128.0/18
            }
            translation {
                address masquerade
            }
        }
        rule 215 {
            description "NAT Reflection: INSIDE (k8s-235-1 Pods v4)"
            destination {
                address 10.234.128.0/18
            }
            outbound-interface eth2
            source {
                address 10.234.128.0/18
            }
            translation {
                address masquerade
            }
        }
    }
}
nat66 {
    destination {
        rule 1 {
            destination {
                address 2a10:4741:36:8a50::/60
            }
            inbound-interface wg3
            translation {
                address 2607:fa48:6ed8:8a50::/60
            }
        }
    }
    source {
        rule 1 {
            outbound-interface wg3
            source {
                prefix 2607:fa48:6ed8:8a50::/60
            }
            translation {
                address 2a10:4741:36:8a50::/60
            }
        }
    }
}
policy {
    route-map CONNECT {
        rule 70 {
            action permit
            match {
                interface wg0
            }
        }
        rule 71 {
            action permit
            match {
                interface wg1
            }
        }
        rule 72 {
            action permit
            match {
                interface wg2
            }
        }
    }
}
protocols {
    bgp {
        neighbor 2607:fa48:6ed8:8a54::100:1 {
            address-family {
                ipv4-unicast {
                }
                ipv6-unicast {
                }
            }
            remote-as 64513
            update-source 2607:fa48:6ed8:8a5d::1
        }
        neighbor 2607:fa48:6ed8:8a54::100:2 {
            address-family {
                ipv4-unicast {
                }
                ipv6-unicast {
                }
            }
            remote-as 64513
            update-source 2607:fa48:6ed8:8a5d::1
        }
        neighbor 2607:fa48:6ed8:8a54::100:3 {
            address-family {
                ipv4-unicast {
                }
                ipv6-unicast {
                }
            }
            remote-as 64513
            update-source 2607:fa48:6ed8:8a5d::1
        }
        system-as 64512
    }
    ospf {
        area 0 {
            network 172.32.1.0/24
            network 172.32.2.0/24
            network 172.32.6.0/24
        }
        area 1 {
            network 172.32.25.0/30
        }
        default-information {
            originate {
                metric-type 2
            }
        }
        interface eth1.25 {
            dead-interval 40
            hello-interval 10
            network point-to-point
            priority 1
            retransmit-interval 5
            transmit-delay 1
        }
        interface wg0 {
            dead-interval 40
            hello-interval 10
            network point-to-point
            priority 1
            retransmit-interval 5
            transmit-delay 1
        }
        interface wg1 {
            dead-interval 40
            hello-interval 10
            network point-to-point
            priority 1
            retransmit-interval 5
            transmit-delay 1
        }
        log-adjacency-changes {
        }
        parameters {
            abr-type cisco
            router-id 172.16.32.1
        }
        redistribute {
            connected {
                metric-type 2
                route-map CONNECT
            }
        }
    }
    ospfv3 {
        area 0.0.0.0 {
        }
        area 0.0.0.1 {
        }
        interface eth1.25 {
            area 0.0.0.1
            cost 1
            dead-interval 40
            hello-interval 10
            instance-id 0
            network point-to-point
            priority 1
            retransmit-interval 5
            transmit-delay 1
        }
        interface lo {
            area 0.0.0.0
        }
        interface wg0 {
            area 0.0.0.0
            cost 1
            dead-interval 40
            hello-interval 10
            instance-id 0
            priority 1
            retransmit-interval 5
            transmit-delay 1
        }
        interface wg1 {
            area 0.0.0.0
            cost 1
            dead-interval 40
            hello-interval 10
            instance-id 100
            priority 1
            retransmit-interval 5
            transmit-delay 1
        }
        interface wg3 {
            area 0.0.0.0
        }
        parameters {
            router-id 172.32.1.1
        }
        redistribute {
            connected {
            }
        }
    }
    static {
        route 10.0.210.0/24 {
            interface eth1.210 {
                disable
            }
        }
        route 172.16.2.0/24 {
            next-hop 172.16.29.26 {
            }
        }
        route 172.16.30.0/24 {
            next-hop 172.16.29.6 {
            }
        }
        route 172.32.1.0/24 {
            interface wg0 {
            }
        }
        route 172.32.2.0/24 {
            interface wg0 {
            }
        }
        route 172.32.3.0/24 {
            interface wg0 {
            }
        }
        route 172.32.4.0/24 {
            interface wg0 {
            }
        }
        route 172.32.254.0/24 {
            interface wg0 {
            }
        }
        route6 ::/0 {
            interface wg3 {
            }
        }
        route6 2a10:4741:36:8a5f::32:0/112 {
            interface wg0 {
            }
        }
        route6 2a10:4741:36:8a5f::33:0/112 {
            interface wg1 {
            }
        }
        route6 2a10:4741:36:8a5f::34:0/112 {
            interface wg2 {
            }
        }
        route6 64:ff9b::/96 {
            next-hop 2607:fa48:6ed8:8a51::64 {
            }
        }
        route6 2607:fa48:6ed8:8a5d::/64 {
            interface eth1.25 {
            }
        }
    }
}
service {
    dns {
        forwarding {
            allow-from 172.16.24.0/24
            allow-from 172.16.29.0/24
            allow-from 172.16.31.0/24
            allow-from 172.16.47.0/24
            allow-from 172.16.69.0/24
            allow-from 10.221.32.0/24
            allow-from 10.221.32.8/29
            allow-from 192.168.0.0/24
            allow-from 2607:FA48:6ED8:8A51::/64
            allow-from 2607:FA48:6ED8:8A52::/64
            allow-from 2607:FA48:6ED8:8A53::/64
            allow-from 2607:FA48:6ED8:8A54::/64
            allow-from 2a10:4741:36:8a5f::32:0/112
            allow-from 2607:fa48:6ed8:8a5d::/64
            allow-from 2607:fa49:3c45:2525::/64
            allow-from 2607:fa49:3c45:2524::/64
            allow-from 2607:fa49:3c45:2529::/64
            allow-from 2607:fa49:3c45:2530::/64
            allow-from 2a10:4741:36:24::/64
            allow-from 2a10:4741:36:25::/64
            allow-from 2a10:4741:36:28::/64
            allow-from 2a10:4741:36:29::/64
            allow-from 2a10:4741:36:30::/64
            allow-from 2a10:4741:36:31::/64
            allow-from 2a10:4741:36:1001::/64
            allow-from 2a10:4741:36:32::/64
            dnssec log-fail
            ignore-hosts-file
            listen-address 172.16.24.1
            listen-address 172.16.29.1
            listen-address 172.16.47.1
            listen-address 172.16.69.1
            listen-address 10.221.32.1
            listen-address 10.221.32.9
            listen-address 192.168.0.1
            listen-address 2607:FA48:6ED8:8A51::1
            listen-address 2607:FA48:6ED8:8A52::1
            listen-address 2607:FA48:6ED8:8A53::1
            listen-address 2607:FA48:6ED8:8A54::1
            listen-address 172.32.25.1
            listen-address 2607:fa48:6ed8:8a5d::1
            listen-address 2607:fa49:3c45:2525::1
            listen-address 2a10:4741:36:8a5f::32:1
            listen-address 2607:fa49:3c45:2530::1
            listen-address 2607:fa49:3c45:2529::1
            listen-address 2607:fa49:3c45:2524::1
            listen-address 2a10:4741:36:25::1
            name-server 8.8.8.8
            name-server 8.8.4.4
            name-server 2001:4860:4860::8888
            name-server 2001:4860:4860::8844
        }
    }
    lldp {
        interface all {
        }
    }
    router-advert {
        interface eth1.24 {
            hop-limit 64
            interval {
                max 600
            }
            name-server 2607:FA48:6ED8:8A52::1
            prefix 2607:FA48:6ED8:8A52::/64 {
            }
            reachable-time 0
            retrans-timer 0
        }
        interface eth1.29 {
            hop-limit 64
            interval {
                max 30
            }
            link-mtu 1480
            name-server 2607:FA48:6ED8:8A51::1
            prefix 2607:FA48:6ED8:8A51::/64 {
                preferred-lifetime 3600
                valid-lifetime 432000
            }
            reachable-time 0
            retrans-timer 0
        }
        interface eth1.47 {
            hop-limit 64
            interval {
                max 600
            }
            name-server 2607:FA48:6ED8:8A53::1
            prefix 2607:FA48:6ED8:8A53::/64 {
            }
            reachable-time 0
            retrans-timer 0
        }
        interface eth1.1001 {
            hop-limit 64
            interval {
                max 600
            }
            name-server 2607:FA48:6ED8:8A5e::1
            prefix 2607:FA48:6ED8:8A5e::/64 {
            }
            reachable-time 0
            retrans-timer 0
        }
    }
    snmp {
        community public {
            authorization ro
        }
    }
    ssh {
        port 22
    }
}
system {
    config-management {
        commit-revisions 2000
    }
    conntrack {
        expect-table-size 2048
        hash-size 32768
        modules {
            ftp
            h323
            nfs
            pptp
            sqlnet
            tftp
        }
        table-size 262144
    }
    domain-search {
        domain 417.tdude.co
    }
    host-name 235-gw
    login {
        user vyos {
            authentication {
                encrypted-password $6$8zZrH1z9D35W1bb.$C4LmXK3IszxaJGeWNoPROoZCgZ0hESNc9qzI5MStonvtxMaf8RcljLKVsnuvA/g7GHuLwrmtZu8d2aXOtgK2J0
                public-keys cardno:000606923500 {
                    key AAAAB3NzaC1yc2EAAAADAQABAAACAQCqvCOuh+/tsBgxY8I9lYauzLAQgtHSSPBLgyFzM5W0jOKsf/ijNfIFbFsNHisNLJJKCM/x03uQ6o21RHxv4OlNw/0ivLES+ZEnWpLzcQ5HZwmv95LsQRSCTNJC7R60JJVdWXUHAMuCOTzt7mVICsBSLosAI+Nw0ynlUy0OMAmnbgmQHEzWQYcWXoajS06HliPq3VoQBbgcZxLSoBtK6y3imVCqkYUB+1UzghJpWN5U0GGgqau2PVLjsi7mrGMfttDbXrQ5/0ndeEQVJs/r9RpZ+C4qZtyRqCCRnjFr5dVNRb/7HIXpVd2AEN4rNMiBLXJ4iWWExk0GVq3pKp/YeJcesMrPLQn3s+xwAPJfRB49kdHafWCGMt8yhTxMTahUwsUQeX04Sa1Yk+fehHfsxvEk5mZ8viQH27pbSNGPxfvbvhXiMftai0mvtQwDYvp7xa78Ztfogea9yZk8QpQ/M/3B9HWF7bxTlR9Hx7g2hyMBngvmEzBjEgolDXuu++B3O/pOHUikdC6dteI3gdHMW9Vgs6QR94VTXVng5ioo0Ff3UlB1f7MwkBkny+AMwSTssTq/cDa53m/aekU9REZREwHla1p1lGA6vL7RQHO9p5j4bRJ3mqJbjC4H5o0O3cdUZZBkvzi/0Pwtl+NP7aa5JG3mCP3B/BCPCqq9STl7dVpqmQ==
                    type ssh-rsa
                }
                public-keys cardno:000609029473 {
                    key AAAAB3NzaC1yc2EAAAADAQABAAACAQDrI5nV45rGWmbU4NjYpyUKMmmPL9JQw+V1Sy+avJxYsqUQkQAd7niZoujNKP56l0Mm1SJPGMIGnyc/711dE1fz//lupNgZnjZbavR6JnklyqwKRvZZja7I8oWBS1Vo6U8ClZvl23yeVl6NZbu97POrgyZm1EljafY1xb7H0GHe55RU9W+I/Fn9hC6CO+15Erv8FwteyqWQqOT3OBqmzttS0Tv3pqucAUFhxG6kNro9N8/KBDmJzdyHMQqv/CzhP9+r+AGkBw4P7/zRhcPTKcXKCkRKWlYFmOkS7ztCY8s+leCJulT427K4riumjHEziQ6WXvZ4Nm0ZIxI2drvb/SbHJSaV5sAIp6QPGLjrRrRH5qkew+jJLIAt+MHiAXYcE5MFG/WdepP4dxcCFDPJV93RLqUDNQfsTLOThJr/8q68qwe6J3ELVMmj+Hg8kMAYSlsnk91jo/6UAO+6uWfYvspjICeFtxYvU+gZ9wXNsUL7e2jEqHC+hfBGq01UHqFPJTwjo7FC31L/EuQDvue5z+qJsuY9uGZzk1jgs/67kvGD5whiuwo6a0F4CHxiwvlJBddYpR1S02gqYv5gsDtZyeYpcnwmhR8oagrgYQ0lkjVTFKQNkrxVZHcjbsL5krLRyXZVRISOxxekLO566BIaBT6zUujBwmCJ3wtUrI9JAtqd0w==
                    type ssh-rsa
                }
                public-keys cardno:000609769932 {
                    key AAAAB3NzaC1yc2EAAAADAQABAAACAQC8wZwiCGx/LX3xJZ0Yr323Apl43SFG2ETZsCavU06WO1OnybJOrZ6KqYQiO9mmsPjjQYHJApaJPBV2xiuOynfTPrEwZyBl0WqyaicqdczxirIez+ktNM8y/CSQ6XpmhfI/+UtdtHvlikWVEKG6oSQOi+QenXmCnIjZSqMRCOj7x3DD+D7fhIN6I+Ssw6XuPdBzAvDlpJ7vDtL2We7gA2PipX1I7erGsL3CnJzk/7ui9ha7r6Fz4WWwgEMuwx+WUxUuy9kK25SMJWwtzaHbeW3CZoLO0s9Fz4w9Z71hON/j/5xh7ynulFEiuco8zfxW6ySRf1HjlzyUN9GO2OMqqiFs8UCtvLDicv8ooCX1UCUiuEr9TwvAPx2du86bXwKpd0pq0ZZD3ymPxajbPGLLT7FYgzxUXbCpY3OeyD85dJB/JZ+5sMdPyimK26w2abLC9VCOV/+BTf15VjL8qTbby+BQNW1vLPcxauhWXVfhVV8FEVri97fj7wa9z7BIBneiIxjzjkpEWRtR8NhCBczioog81EJAFafWhcLEKBwn05YpN92iLWysBBxefIiBoynkfm+1+Ztu3z351BWxFMBod9DmOE6jf2utD12lCm1KeZ+vhnSfsfsBbhJ7/XfKvZ9ZE3igWhFw3A8FzOuuExKEKQLEgn2gUUa9bfRhdCX7PTeFTw==
                    type ssh-rsa
                }
            }
        }
    }
    name-server 8.8.8.8
    name-server 8.8.4.4
    name-server 2001:4860:4860::8888
    name-server 2001:4860:4860::8844
    name-server eth0
    name-server eth2
    ntp {
        server 0.ubnt.pool.ntp.org {
        }
        server 1.ubnt.pool.ntp.org {
        }
        server 2.ubnt.pool.ntp.org {
        }
        server 3.ubnt.pool.ntp.org {
        }
    }
    static-host-mapping {
        host-name gateway {
            inet 172.16.29.1
        }
        host-name trendnet {
            inet 172.16.24.2
        }
    }
    sysctl {
        parameter net.ipv6.conf.eth2.accept_ra {
            value 0
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone America/Montreal
}


// Warning: Do not remove the following line.
// vyos-config-version: "bgp@3:broadcast-relay@1:cluster@1:config-management@1:conntrack@3:conntrack-sync@2:container@1:dhcp-relay@2:dhcp-server@6:dhcpv6-server@1:dns-forwarding@3:firewall@9:flow-accounting@1:https@4:ids@1:interfaces@26:ipoe-server@1:ipsec@10:isis@2:l2tp@4:lldp@1:mdns@1:monitoring@1:nat@5:nat66@1:ntp@1:openconnect@2:ospf@1:policy@5:pppoe-server@6:pptp@2:qos@2:quagga@10:rpki@1:salt@1:snmp@2:ssh@2:sstp@4:system@25:vrf@3:vrrp@3:vyos-accel-ppp@2:wanloadbalance@3:webproxy@2"
// Release version: 1.4-rolling-202301090317

