version: '2.3'
services:
  lolisafe:
    container_name: lolisafe
    image: starcraft66/lolisafe:{{ lolisafe_version }}
    restart: always
    environment:
      TZ: "{{ timezone }}" # timezone
    volumes:
      - {{ lolisafe_installation_folder }}/config.js:/usr/src/lolisafe/config.js:ro
      - {{ lolisafe_database_folder }}/db.sqlite:/usr/src/lolisafe/database/db.sqlite
      - {{ lolisafe_store_folder }}:/usr/src/lolisafe/uploads
      - {{ lolisafe_custom_pages_folder }}:/usr/src/lolisafe/custom
      - {{ lolisafe_logs_folder }}:/usr/src/lolisafe/logs
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=lolisafe"
      - "traefik.http.services.lolisafe.loadbalancer.server.port=9999"
      - "traefik.http.routers.lolisafe.entryPoints=web"
      - "traefik.http.routers.lolisafe.rule=Host(`lolisafe.tdude.co`,`l.trs.tn`)"
      - "traefik.http.routers.lolisafe.middlewares=https@file,cringy-404@file"
      - "traefik.http.routers.lolisafe-secure.entryPoints=web-secure"
      - "traefik.http.routers.lolisafe-secure.rule=Host(`lolisafe.tdude.co`,`l.trs.tn`)"
      - "traefik.http.routers.lolisafe-secure.middlewares=https@file,cringy-404@file"
      - "traefik.http.routers.lolisafe-secure.tls=true"
    networks:
      - lolisafe

networks:
  lolisafe:
    external:
      name: lolisafe