version: '2.3'
services:
  deluge:
    container_name: deluge
    image: linuxserver/deluge:latest
    restart: always
    environment:
      PUID: 949 # default user id, for downloaded files access rights
      PGID: 949 # default group id, for downloaded files access rights
      TZ: Europe/Paris # timezone
    volumes:
      - {{ plex_media_folder }}/ongoing:/downloads # download folder
      - {{ deluge_config_folder }}:/config # config files
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.deluge.rule=Host(`deluge.sapling.tdude.co`)"
      - "traefik.docker.network=mediaserver"
      - "traefik.http.services.deluge.loadbalancer.server.port=8112"
      - "traefik.http.routers.deluge.entryPoints=web,web-secure"
      - "traefik.http.routers.deluge.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.deluge.tls=true"
      - "traefik.http.routers.deluge.tls.certresolver=le"
    networks:
      - mediaserver

  jackett:
    container_name: jackett
    image: linuxserver/jackett:latest
    restart: unless-stopped
    environment:
      PUID: 949 # default user id, for downloaded files access rights
      PGID: 949 # default group id, for downloaded files access rights
      TZ: Europe/Paris # timezone
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ plex_media_folder }}/ongoing/torrent-blackhole:/downloads # place where to put .torrent files
      - {{ jackett_config_folder }}:/config # config files
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jackett.rule=Host(`jackett.sapling.tdude.co`)"
      - "traefik.docker.network=mediaserver"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
      - "traefik.http.routers.jackett.entryPoints=web,web-secure"
      - "traefik.http.routers.jackett.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.jackett.tls=true"
      - "traefik.http.routers.jackett.tls.certresolver=le"
    networks:
      - mediaserver

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:preview
    restart: unless-stopped
    environment:
      PUID: 949 # default user id, for downloaded files access rights
      PGID: 949 # default group id, for downloaded files access rights
      TZ: Europe/Paris # timezone
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ sonarr_config_folder }}:/config # config files
      - {{ plex_media_folder }}/series:/tv # tv shows folder
      - {{ plex_media_folder }}/ongoing:/downloads # download folder
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.sapling.tdude.co`)"
      - "traefik.docker.network=mediaserver"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.http.routers.sonarr.entryPoints=web,web-secure"
      - "traefik.http.routers.sonarr.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.sonarr.tls=true"
      - "traefik.http.routers.sonarr.tls.certresolver=le"
    networks:
      - mediaserver

  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    restart: unless-stopped
    environment:
      PUID: 949 # default user id, for downloaded files access rights
      PGID: 949 # default group id, for downloaded files access rights
      TZ: Europe/Paris # timezone
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ radarr_config_folder }}:/config # config files
      - {{ plex_media_folder }}/movies:/movies # movies folder
      - {{ plex_media_folder }}/ongoing:/downloads # download folder
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.sapling.tdude.co`)"
      - "traefik.docker.network=mediaserver"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr.entryPoints=web,web-secure"
      - "traefik.http.routers.radarr.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.tls.certresolver=le"
    networks:
      - mediaserver

  plex-server:
    container_name: plex-server
    hostname: sapling-plex
    image: plexinc/pms-docker:latest
    restart: unless-stopped
    environment:
      TZ: Europe/Paris # timezone
      PLEX_UID: 949
      PLEX_GID: 949
      PLEX_CLAIM: {{ plex_claim_token }}
      ADVERTISE_IP: https://plex.sapling.tdude.co
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plex.rule=Host(`plex.sapling.tdude.co`)"
      - "traefik.docker.network=mediaserver"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
      - "traefik.http.routers.plex.entryPoints=web,web-secure,plex"
      - "traefik.http.routers.plex.tls=true"
      - "traefik.http.routers.plex.tls.certresolver=le"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ plex_config_folder }}:/config # plex database
      - {{ plex_transcode_folder }}:/transcode # temp transcoded files
      - {{ plex_media_folder }}:/data # media library
    networks:
      - mediaserver

networks:
  mediaserver:
    external:
      name: mediaserver