{
  "Port": 9117,
  "AllowExternal": true,
  "APIKey": "{{ jackett_api_key }}",
  "AdminPassword": "{{ jackett_admin_password }}",
  "InstanceId": "sc6h8hro2x6kyuetwnntjj624a8hqgcvdrqsggy0valipdkjbeh9vfsv4pwyc1ih",
  "BlackholeDir": null,
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": "/jackett",
  "OmdbApiKey": null,
  "OmdbApiUrl": null,
  "ProxyUrl": null,
  "ProxyType": 0,
  "ProxyPort": null,
  "ProxyUsername": null,
  "ProxyPassword": null,
  "ProxyIsAnonymous": true
}