apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml
- ./resources/host-bridge.yaml
- ./resources/postgres.yaml
- ./resources/python-matter-server.yaml

namespace: home-automation

images:
- name: ghcr.io/home-assistant-libs/python-matter-server
  newName: ghcr.io/home-assistant-libs/python-matter-server
  newTag: "8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a"

helmCharts:
- name: home-assistant
  releaseName: home-assistant
  valuesFile: ./resources/home-assistant.yaml
  version: 0.3.35
  repo: http://pajikos.github.io/home-assistant-helm-chart/
  namespace: home-automation
- name: mosquitto
  releaseName: mosquitto
  valuesFile: ./resources/mosquitto.yaml
  version: 17.13.3
  repo: oci://oci.trueforge.org/truecharts
  namespace: home-automation
- name: zwavejs2mqtt
  releaseName: zwavejs2mqtt
  valuesFile: ./resources/zwavejs2mqtt.yaml
  version: 24.18.0
  repo: oci://oci.trueforge.org/truecharts
  namespace: home-automation
- name: zigbee2mqtt
  releaseName: zigbee2mqtt
  valuesFile: ./resources/zigbee2mqtt.yaml
  version: 15.15.3
  repo: oci://oci.trueforge.org/truecharts
  namespace: home-automation