version: '2'
services:
  mgrs:
    image: nginx:{{ mgrs_nginx_version }}
    volumes:
      - {{ mgrs_static_root }}:/usr/share/nginx/html:ro
    restart: unless-stopped
    networks:
      - mgrs
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:mgrs.cgbpi.com"
      - "traefik.docker.network=mgrs"
      - "traefik.port=80"
{{ traefik_sts_header_labels }}

networks:
  mgrs:
    external:
      name: mgrs