{
    "MAIN": {
        "MC_USERNAME": "{{ minecraft_discord_bridge_minecraft_username }}",
        "MC_PASSWORD": "{{ minecraft_discord_bridge_minecraft_password }}",
        "MC_SERVER": "{{ minecraft_discord_bridge_minecraft_server }}",
        "MC_PORT": {{ minecraft_discord_bridge_minecraft_port }},
        "MC_ONLINE": {{ minecraft_discord_bridge_minecraft_online }},
        "DISCORD_APP_TOKEN": "{{ minecraft_discord_bridge_discord_app_token }}",
        "LOG_LEVEL": "{{ minecraft_discord_bridge_log_level }}",
        "MESSAGE_DELAY": {{ minecraft_discord_bridge_message_delay }},
        "FAILSAFE_RETRIES": {{ minecraft_discord_bridge_failsafe_retries }},
        "ADMINS": [
            {%- for admin in minecraft_discord_bridge_admins -%}
            {{ admin }}{%- if not loop.last -%},{%- endif -%}
            {%- endfor -%} 
        ]
    },
    "AUTH_SERVER": {
        "BIND_IP": "{{ minecraft_discord_bridge_auth_bind_ip }}",
        "PORT": {{ minecraft_discord_bridge_auth_port }},
        "DNS_WILDCARD": "{{ minecraft_discord_bridge_auth_dns_wildcard }}"
    },
    "DATABASE": {
        "CONNECTION_STRING": "{{ minecraft_discord_bridge_database_connection_string }}"
    },
    "ELASTICSEARCH": {
        "ENABLED": {{ minecraft_discord_bridge_elastricsearch_enabled }},
        "URL": "{{ minecraft_discord_bridge_elasticsearch_url }}",
        "AUTH": {{ minecraft_discord_bridge_elasticsearch_auth }},
        "USERNAME": "{{ minecraft_discord_bridge_elasticsearch_auth_username }}",
        "PASSWORD": "{{ minecraft_discord_bridge_elasticsearch_auth_password }}"
    }
}