version: '2'
services:
  web:
    image: 'gitlab/gitlab-ce:{{ gitlab_docker_version }}'
    restart: unless-stopped
    hostname: '{{ gitlab_hostname }}'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{ gitlab_external_url }}'
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        nginx['proxy_set_headers'] = {
          "X-Forwarded-Proto" => "https",
          "X-Forwarded-Ssl" => "on"
        }
        nginx['real_ip_header'] = 'X-Real-IP'
        nginx['real_ip_recursive'] = 'on'
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "{{ gitlab_smtp_server }}"
        gitlab_rails['smtp_port'] = {{ gitlab_smtp_port }}
        gitlab_rails['smtp_authentication'] = "login"
        gitlab_rails['smtp_user_name'] = "{{ gitlab_smtp_username }}"
        gitlab_rails['smtp_password'] = "{{ gitlab_smtp_password }}"
        gitlab_rails['smtp_authentication'] = "{{ gitlab_smtp_authentication }}"
        gitlab_rails['smtp_enable_starttls_auto'] = true
        gitlab_rails['gitlab_email_from'] = '{{ gitlab_email_from }}'
        gitlab_rails['gitlab_email_reply_to'] = '{{ gitlab_email_reply_to }}'
        gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_ssh_port }}
        gitlab_rails['incoming_email_enabled'] = true
        gitlab_rails['incoming_email_address'] = "{{ gitlab_incoming_email_address }}"
        gitlab_rails['incoming_email_email'] = "{{ gitlab_incoming_email_email }}"
        gitlab_rails['incoming_email_password'] = "{{ gitlab_incoming_email_password }}"
        gitlab_rails['incoming_email_host'] = "{{ gitlab_incoming_email_host }}"
        gitlab_rails['incoming_email_port'] = {{ gitlab_incoming_email_port }}
        gitlab_rails['incoming_email_ssl'] = false
        gitlab_rails['incoming_email_start_tls'] = true
        gitlab_rails['incoming_email_mailbox_name'] = "inbox"
        gitlab_rails['incoming_email_idle_timeout'] = 60
    ports:
      - '158.69.118.62:{{ gitlab_ssh_port }}:22'
      - '2607:5300:60:873e::3:22:22'
      - '2607:5300:60:873e::3:{{ gitlab_ssh_port }}:22'
    volumes:
      - '{{ gitlab_config_folder }}:/etc/gitlab'
      - '{{ gitlab_logs_folder }}:/var/log/gitlab'
      - '{{ gitlab_data_folder }}:/var/opt/gitlab'
      - '/etc/timezone:/etc/timezone:ro'
      - '/etc/localtime:/etc/localtime:ro'
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.gitlab.loadbalancer.server.port=80"
      - "traefik.docker.network=gitlab"
      - "traefik.http.routers.gitlab.entryPoints=web"
      - "traefik.http.routers.gitlab.rule=Host(`git.tdude.co`)"
      - "traefik.http.routers.gitlab.middlewares=https@file"
      - "traefik.http.routers.gitlab-secure.entryPoints=web-secure"
      - "traefik.http.routers.gitlab-secure.rule=Host(`git.tdude.co`)"
      - "traefik.http.routers.gitlab-secure.middlewares=https@file"
      - "traefik.http.routers.gitlab-secure.tls=true"
    networks:
      - gitlab
  runner:
    image: gitlab/gitlab-runner:latest
    restart: unless-stopped
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '{{ gitlab_runner_config_folder }}:/etc/gitlab-runner'
    networks:
      - gitlab

networks:
  gitlab:
    external:
      name: gitlab