---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-ngx
  labels:
    app.kubernetes.io/name: paperless-ngx
spec:
  replicas: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: paperless-ngx
  template:
    metadata:
      labels:
        app.kubernetes.io/name: paperless-ngx
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: paperless-ngx
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
      containers:
        - name: paperless-ngx
          securityContext:
            capabilities:
              drop:
              - ALL
            allowPrivilegeEscalation: false
            runAsUser: 1000
            runAsGroup: 1000
          image: "ghcr.io/paperless-ngx/paperless-ngx:latest"
          imagePullPolicy: IfNotPresent
          env:
            - name: PAPERLESS_TIKA_ENABLED
              value: "1"
            - name: PAPERLESS_TIKA_GOTENBERG_ENDPOINT
              value: http://gotenberg
            - name: PAPERLESS_TIKA_ENDPOINT
              value: http://tika
            - name: PAPERLESS_TASK_WORKERS
              value: "8"
            - name: PAPERLESS_THREADS_PER_WORKER
              value: "2"
            - name: PAPERLESS_CONVERT_TMPDIR
              value: /tmp
            - name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
              value: "1"
          envFrom:
          - configMapRef:
              name: paperless-ngx
          - secretRef:
              name: paperless-ngx
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /login/
              port: http
            timeoutSeconds: 10
            periodSeconds: 30
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /login/
              port: http
            timeoutSeconds: 10
            periodSeconds: 30
            failureThreshold: 12
            initialDelaySeconds: 60
          resources:
            requests:
              cpu: 2000m
              memory: 4Gi
            limits:
              memory: 8Gi
          volumeMounts:
          - name: paperless-ngx-data
            mountPath: /usr/src/paperless/data
            subPath: data
          - name: paperless-ngx-data
            mountPath: /usr/src/paperless/media
            subPath: media
          - name: paperless-ngx-data
            mountPath: /usr/src/paperless/export
            subPath: export
          - name: paperless-ngx-data
            mountPath: /usr/src/paperless/consume
            subPath: consume
          - name: sec-ctx-vol
            mountPath: /tmp
          - name: run
            mountPath: /run
      volumes:
        - name: sec-ctx-vol
          emptyDir: {}
        - name: run
          emptyDir: {}
        - name: paperless-ngx-data
          persistentVolumeClaim:
            claimName: paperless-ngx-data
