apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: paperless-ngx-postgres
spec:
  instances: 2
  topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        cnpg.io/cluster: paperless-ngx-postgres
  bootstrap:
    initdb:
      database: paperless
      owner: paperless
      secret:
        name: paperless-ngx-postgres
  storage:
    storageClass: truenas-nfs-spitfire-fast
    size: 10Gi
  monitoring:
    enablePodMonitor: true