---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: paperless-ngx-data
  labels:
    app.kubernetes.io/name: paperless-ngx
spec:
  accessModes:
  - "ReadWriteMany"
  storageClassName: "truenas-nfs-spitfire-fast"
  resources:
    requests:
      storage: "10Gi"
