apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml
- ./resources/statefulset.yaml
- ./resources/service.yaml
- ./resources/volume.yaml

namespace: photoprism

# Photoprism only supports MariaDB and there's no good Operator for it
helmCharts:
- name: mariadb
  includeCRDs: true
  releaseName: photoprism
  version: 24.2.0
  repo: oci://registry-1.docker.io/bitnamicharts
  namespace: photoprism
  valuesInline:
    auth:
      existingSecret: mariadb-secrets
    metrics:
      enabled: true
    global:
      storageClass: truenas-nfs-spitfire-fast
    primary:
      resources:
        limits:
          memory: 8Gi
        requests:
          memory: 2Gi
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: mariadb
            app.kubernetes.io/instance: photoprism
            app.kubernetes.io/component: primary
    secondary:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: mariadb
            app.kubernetes.io/instance: photoprism
            app.kubernetes.io/component: secondary