apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./resources/namespace.yaml

namespace: cert-manager

helmCharts:
- name: cert-manager
  includeCRDs: true
  releaseName: cert-manager
  version: v1.19.2
  repo: https://charts.jetstack.io
  namespace: cert-manager
  valuesInline:
    global:
      leaderElection:
        namespace: cert-manager
    installCRDs: true
    config:
      apiVersion: controller.config.cert-manager.io/v1alpha1
      kind: ControllerConfiguration
      enableGatewayAPI: true