---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: lanparty-seating
  name: lanparty-seating
spec:
  ipFamilyPolicy: RequireDualStack
  ipFamilies:
  - IPv6
  - IPv4
  ports:
  - name: http
    port: 80
    targetPort: http
  selector:
    app.kubernetes.io/name: lanparty-seating
  type: ClusterIP