csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.nfs"

storageClasses:
- name: freenas-nfs-csi
  defaultClass: false
  reclaimPolicy: Retain
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    fsType: nfs

  mountOptions:
  - noatime
  - nfsvers=3
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:

controller:
  externalSnapshotter:
    enabled: false

driver:
  config:
    driver: freenas-api-nfs
    httpConnection:
      allowInsecure: true
      apiKey: redacted
      apiVersion: 2
      host: spitfire.235.tdude.co
      port: 443
      protocol: https
      username: root
    instance_id: null
    nfs:
      shareAlldirs: false
      shareAllowedHosts:
      - 2a10:4741:36:28:26be:5ff:fe84:d8b0
      - 2a10:4741:36:28:26be:5ff:fe84:f750
      - 2a10:4741:36:28:202:c9ff:fe9d:c36a
      - 2607:fa48:6ed8:8a55:26be:5ff:fe84:d8b0
      - 2607:fa48:6ed8:8a55:26be:5ff:fe84:f750
      - 2607:fa48:6ed8:8a55:202:c9ff:fe9d:c36a
      shareAllowedNetworks: []
      shareHost: spitfire.storage.235.tdude.co
      shareMapallGroup: ""
      shareMapallUser: ""
      shareMaprootGroup: wheel
      shareMaprootUser: root
    sshConnection:
      host: spitfire.235.tdude.co
      port: 22
      privateKey: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        ...
        -----END OPENSSH PRIVATE KEY-----
      username: root
    zfs:
      # the example below is useful for TrueNAS 12
      cli:
        paths:
          zfs: /usr/sbin/zfs
          zpool: /usr/sbin/zpool
          sudo: /usr/bin/sudo
          chroot: /usr/sbin/chroot
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetParentName: spitfire/k8s-235/volumes
      datasetPermissionsGroup: wheel
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: root
      detachedSnapshotsDatasetParentName: spitfire/k8s-235/snapshots

node:
  driver:
    extraEnv:
      - name: ISCSIADM_HOST_PATH
        value: /run/current-system/sw/bin/iscsiadm