---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: satisfactory
spec:
  serviceName: "satisfactory"
  selector:
    matchLabels:
      app.kubernetes.io/name: satisfactory
  template:
    metadata:
      labels:
        app.kubernetes.io/name: satisfactory
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: satisfactory
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: satisfactory
        image: "ghcr.io/wolveix/satisfactory-server:dev"
        imagePullPolicy: Always
        resources:
          limits:
            memory: 16Gi
          requests:
            cpu: "4"
            memory: 12Gi
        livenessProbe:
          exec:
            command:
            - "/bin/sh"
            - "-c"
            - "/home/steam/healthcheck.sh"
          initialDelaySeconds: 300
          failureThreshold: 4
          successThreshold: 1
          periodSeconds: 30
        envFrom:
        - configMapRef:
            name: satisfactory-vars
        env:
        - name: ROOTLESS
          value: "true"
        ports:
        - name: game
          containerPort: 7777
          protocol: UDP
        - name: gametcp
          containerPort: 7777
          protocol: TCP
        - name: messaging
          containerPort: 8888
          protocol: TCP
        volumeMounts:
        - name: savedata
          mountPath: /config
        - name: gamefiles
          mountPath: /config/gamefiles
      volumes:
      - name: savedata
        persistentVolumeClaim:
          claimName: satisfactory-savedata
      - name: gamefiles
        persistentVolumeClaim:
          claimName: satisfactory-gamefiles