---
apiVersion: v1
kind: Service
metadata:
  name: satisfactory
  labels:
    app.kubernetes.io/name: satisfactory
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ipFamilyPolicy: RequireDualStack
  ipFamilies:
  - IPv4
  - IPv6
  ports:
  - port: 7777
    protocol: UDP
    name: game
    targetPort: game
  - port: 7777
    protocol: TCP
    name: gametcp
    targetPort: gametcp
  - name: messaging
    port: 8888
    protocol: TCP
    targetPort: messaging
  selector:
    app.kubernetes.io/name: satisfactory
