apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- ./resources/volume.yaml
- ./resources/ingress.yaml

namespace: ircclient

configMapGenerator:
- name: thelounge-permissions
  literals: &perms
  - "PUID=1000"
  - "PGID=1000"
  - "TZ=America/Toronto"
- name: znc-permissions
  literals: *perms
- name: thelounge-config
  files:
  - "config.js=./config/thelounge.js"

images:
- name: lscr.io/linuxserver/thelounge
  digest: sha256:e47a679fa8dd5428571a3a3ee0240013740d27de1b34b27ab20ee2422f78457b
- name: lscr.io/linuxserver/znc
  digest: sha256:b85ad9504dae0338e775ebfd46d443f113f2849ded2b8b7022df6d0ef488b53f