apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- ./resources/volume.yaml
- ./resources/ingress.yaml

namespace: ircclient

configMapGenerator:
- name: thelounge-permissions
  literals: &perms
  - "PUID=1000"
  - "PGID=1000"
  - "TZ=America/Toronto"
- name: znc-permissions
  literals: *perms
- name: thelounge-config
  files:
  - "config.js=./config/thelounge.js"

images:
- name: lscr.io/linuxserver/thelounge
  digest: sha256:f405934de00a8ef97d73e0f28972d6044ee324757258ee5cb3c3774542b670a6
- name: lscr.io/linuxserver/znc
  digest: sha256:f2c9d25a7a1946dffd230a3f4edfe71b31bcf5306c2c35b80f292c369bc6f794