version: '2'
services:
  statusfy:
    image: starcraft66/tdude-status:{{ statusfy_docker_version }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    networks:
      - status
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.statusfy.rule=Host(`status.tdude.co`)"
      - "traefik.docker.network=status"
      - "traefik.http.services.statusfy.loadbalancer.server.port=3000"
      - "traefik.http.routers.statusfy.entryPoints=web,web-secure"
      - "traefik.http.routers.statusfy.middlewares=https@file"
      - "traefik.http.routers.statusfy.tls=true"
      - "traefik.http.routers.statusfy.tls.certresolver=le"

networks:
  status:
    external:
      name: status