version: '2'
services:
  statusfy:
    image: starcraft66/tdude-status:{{ statusfy_docker_version }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    networks:
      - status
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:status.tdude.co"
      - "traefik.docker.network=status"
      - "traefik.port=3000"
{{ traefik_sts_header_labels }}

networks:
  status:
    external:
      name: status