apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml
- ./resources/cronjob.yaml
- ./resources/deployment.yaml
- ./resources/postgres.yaml
- ./resources/service.yaml
- ./resources/serviceaccount.yaml
- ./resources/servicemonitor.yaml
- ./resources/volume.yaml

images:
- name: netboxcommunity/netbox
  newTag: v4.4.8
- name: busybox
  newTag: 1.37.0

namespace: netbox

helmCharts:
- name: redis
  releaseName: netbox-redis
  version: 20.x
  repo: oci://registry-1.docker.io/bitnamicharts
  namespace: netbox
  valuesInline:
    auth:
      existingSecret: "netbox"
    global:
      storageClass: "freenas-nfs-csi"
    master:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: redis
            app.kubernetes.io/instance: netbox-redis
            app.kubernetes.io/component: master
    replica:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: redis
            app.kubernetes.io/instance: netbox-redis
            app.kubernetes.io/component: replica
