apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
  namespace: nhackindustries
spec:
  # renovate: datasource=github-releases depName=elastic/elasticsearch
  version: "9.3.0"
  # DeleteOnScaledownOnly keeps the PersistentVolumeClaims when deleting the Elasticsearch cluster.
  # If you recreate a deleted cluster with the same name and node sets as before, the existing
  # PersistentVolumeClaims will be adopted by the new cluster.
  volumeClaimDeletePolicy: DeleteOnScaledownOnly
  nodeSets:
  - name: iscsi
    count: 2
    config:
      # xpack.security.enabled: true
      # xpack.security.autoconfiguration.enabled: true
      node.store.allow_mmap: false
    podTemplate:
      spec:
        securityContext:
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch
    volumeClaimTemplates:
    - metadata:
        name: elasticsearch-data # Do not change this name unless you set up a volume mount for the data path.
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 10Gi
        storageClassName: "truenas-iscsi-spitfire-fast"
---
apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: kibana
  namespace: nhackindustries
spec:
  # renovate: datasource=github-releases depName=elastic/kibana
  version: "9.3.0"
  count: 1
  elasticsearchRef:
    name: elasticsearch