{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://{{ matrix_synapse_server_name }}",
            "server_name": "{{ matrix_synapse_server_name }}"
        },
        "m.identity_server": {
            "base_url": ""
        }
    },
    "disable_custom_urls": false,
    "disable_guests": false,
    "disable_login_language_selector": false,
    "disable_3pid_login": false,
    "brand": "Element",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "integrations_widgets_urls": [
        "https://scalar.vector.im/_matrix/integrations/v1",
        "https://scalar.vector.im/api",
        "https://scalar-staging.vector.im/_matrix/integrations/v1",
        "https://scalar-staging.vector.im/api",
        "https://scalar-staging.element.im/scalar/api"
    ],
    "bug_report_endpoint_url": "https://element.im/bugreports/submit",
    "defaultCountryCode": "CA",
    "showLabsSettings": false,
    "features": {
        "feature_pinning": "labs",
        "feature_custom_status": "labs",
        "feature_custom_tags": "labs",
        "feature_state_counters": "labs"
    },
    "default_federate": true,
    "default_theme": "{{ matrix_element_default_theme }}",
    "roomDirectory": {
        "servers": [
            "nerdsin.space",
            "halogen.city",
            "matrix.org"
        ]
    },
    "piwik": false,
    "enable_presence_by_hs_url": {
        "https://matrix.org": false,
        "https://matrix-client.matrix.org": false
    },
    "settingDefaults": {
        "breadcrumbs": true
    },
    "jitsi": {
        "preferredDomain": "meet.jit.si"
    }
}