version: '2'
services:
  traefik:
    image: traefik:{{ traefik_docker_version }}
    container_name: traefik
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ traefik_data_folder }}/traefik.toml:/traefik.toml"
      - "{{ traefik_data_folder }}/acme.json:/acme.json"
    ports:
      - "62.210.251.78:80:80"
      - "62.210.251.78:443:443"
{% filter indent(width=6, first=True) %}
{% for n in range(20) %}
- "2001:bc8:2517:100::{{ n+1 }}:80:80"
- "2001:bc8:2517:100::{{ n+1 }}:443:443"
{% endfor %}
{% endfilter %}

    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:monitor.plank.tdude.co"
      - "traefik.port=8081"
{{ traefik_sts_header_labels }}
# Commented out for the moment because the docker socket
# requires root access. Simply granting the traefik user
# access to the docker group appears not to be enough.
# Will have to look into exposing the docker daemon via
# TLS.
#    user: "939:939"
    environment:
      CF_API_EMAIL: {{ dehydrated_lexicon_dns["LEXICON_CLOUDFLARE_USERNAME"] }}
      CF_API_KEY: {{ dehydrated_lexicon_dns["LEXICON_CLOUDFLARE_TOKEN"] }}
    networks:
      - matrix
      - monitoring
      - mediaserver
      - status
      - gitlab
      - traefik
      - mgrs

  traefik-forward-auth:
    image: thomseddon/traefik-forward-auth
    container_name: traefik-forward-auth
    environment:
      - CLIENT_ID={{ traefik_oauth2_client_id }}
      - CLIENT_SECRET={{ traefik_oauth2_client_secret }}
      - SECRET={{ traefik_oauth2_secret }}
      - COOKIE_SECURE=true
      - COOKIE_DOMAINS=plank.tdude.co
      - WHITELIST=starcraft66@gmail.com
      - AUTH_HOST=auth.plank.tdude.co
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.port=4181
      - traefik.backend=traefik-forward-auth
      - traefik.backend.network=traefik
      - traefik.frontend.rule=Host:auth.plank.tdude.co
{{ traefik_sts_header_labels }}
{{ traefik_forward_auth_labels }}

networks:
  traefik:
  matrix:
    external:
      name: matrix_matrix
  monitoring:
    external:
      name: monitoring
  mediaserver:
    external:
      name: mediaserver
  status:
    external:
      name: status
  gitlab:
    external:
      name: gitlab
  mgrs:
    external:
      name: mgrs