version: '2.3'
services:
  traefik:
    image: traefik:{{ traefik_docker_version }}
    container_name: traefik
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ traefik_data_folder }}/traefik.toml:/etc/traefik/traefik.toml"
      - "{{ traefik_data_folder }}/http.toml:/etc/traefik/http.toml"
      - "{{ traefik_data_folder }}/acme.json:/etc/traefik/acme.json"
    ports:
      - "158.69.118.62:80:80"
      - "158.69.118.62:443:443"
      - "158.69.118.62:32400:32400"
      # 2607:5300:60:873e::3 is still required until I figure out a fix for the gitlab ssh port
      - "2607:5300:60:873e::3:80:80"
      - "2607:5300:60:873e::3:443:443"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.entryPoints=web"
      - "traefik.http.routers.dashboard.rule=Host(`monitor.sapling.tdude.co`)"
      - "traefik.http.routers.dashboard.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard-secure.entryPoints=web-secure"
      - "traefik.http.routers.dashboard-secure.tls.certresolver=le"
      - "traefik.http.routers.dashboard-secure.rule=Host(`monitor.sapling.tdude.co`)"
      - "traefik.http.routers.dashboard-secure.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.dashboard-secure.service=api@internal"
      - "traefik.http.routers.dashboard-secure.tls=true"

# Commented out for the moment because the docker socket
# requires root access. Simply granting the traefik user
# access to the docker group appears not to be enough.
# Will have to look into exposing the docker daemon via
# TLS.
#    user: "939:939"
    environment:
      CF_API_EMAIL: {{ dehydrated_lexicon_dns["LEXICON_CLOUDFLARE_USERNAME"] }}
      CF_API_KEY: {{ dehydrated_lexicon_dns["LEXICON_CLOUDFLARE_TOKEN"] }}
    networks:
      traefik:
        ipv4_address: 10.44.0.2
        ipv6_address: "2607:5300:60:873e:8::2"
      matrix:
      monitoring:
      mediaserver:
      status:
      gitlab:
      traefik:
      lolisafe:
      {{ elk_docker_network }}:

  traefik-forward-auth:
    image: thomseddon/traefik-forward-auth:2
    container_name: traefik-forward-auth
    environment:
      PROVIDERS_GOOGLE_CLIENT_ID: {{ traefik_oauth2_client_id }}
      PROVIDERS_GOOGLE_CLIENT_SECRET: {{ traefik_oauth2_client_secret }}
      SECRET: {{ traefik_oauth2_secret }}
      INSECURE_COOKIE: "false"
      COOKIE_DOMAINS: sapling.tdude.co
      WHITELIST: starcraft66@gmail.com
      AUTH_HOST: auth.sapling.tdude.co
    networks:
      traefik:
        ipv4_address: 10.44.0.3
        ipv6_address: "2607:5300:60:873e:8::3"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.traefikforwardauth.loadbalancer.server.port=4181"
      - "traefik.docker.network=traefik_traefik"
      - "traefik.http.routers.traefikforwardauth.entryPoints=web"
      - "traefik.http.routers.traefikforwardauth.rule=Host(`auth.sapling.tdude.co`)"
      - "traefik.http.routers.traefikforwardauth.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.traefikforwardauth-secure.entryPoints=web-secure"
      - "traefik.http.routers.traefikforwardauth-secure.tls.certresolver=le"
      - "traefik.http.routers.traefikforwardauth-secure.rule=Host(`auth.sapling.tdude.co`)"
      - "traefik.http.routers.traefikforwardauth-secure.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.traefikforwardauth-secure.tls=true"

  cringy-404-page:
    image: notarock/cringy-404-page
    container_name: cringy-404-page
    networks:
      traefik:
        ipv4_address: 10.44.0.4
        ipv6_address: "2607:5300:60:873e:8::4"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.cringy-404-page.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik_traefik"
      - "traefik.http.routers.errorpages.entryPoints=web"
      - "traefik.http.routers.errorpages.rule=Host(`errorpages.tdude.co`)"
      - "traefik.http.routers.errorpages.middlewares=https@file"
      - "traefik.http.routers.errorpages-secure.entryPoints=web-secure"
      - "traefik.http.routers.errorpages-secure.tls.certresolver=le"
      - "traefik.http.routers.errorpages-secure.rule=Host(`errorpages.tdude.co`)"
      - "traefik.http.routers.errorpages-secure.middlewares=https@file"
      - "traefik.http.routers.errorpages-secure.tls=true"

networks:
  traefik:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-traefik
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.44.0.0/24
          gateway: 10.44.0.1
        - subnet: "2607:5300:60:873e:8::/80"
          gateway: "2607:5300:60:873e:8::1"
  matrix:
    external:
      name: matrix_matrix
  lolisafe:
    external:
      name: lolisafe
  monitoring:
    external:
      name: monitoring
  mediaserver:
    external:
      name: mediaserver
  status:
    external:
      name: status
  gitlab:
    external:
      name: gitlab
  {{ elk_docker_network }}:
    external:
      name: {{ elk_docker_network }}