apiVersion: logging.banzaicloud.io/v1beta1
kind: ClusterFlow
metadata:
  name: cliuter-flow
spec:
  filters:
    # - parser:
    #     remove_key_name_field: true
    #     parse:
    #       type: nginx
    - dedot:
        de_dot_nested: true
        de_dot_separator: "_"
    - tag_normaliser:
        format: ${namespace_name}
  globalOutputRefs:
  - es-cluster-output
