apiVersion: logging.banzaicloud.io/v1beta1
kind: ClusterOutput
metadata:
  name: es-cluster-output
spec:
  elasticsearch:
    host: elasticsearch-es-http
    port: 9200
    scheme: https
    ssl_verify: false
    user: elastic
    password:
      valueFrom:
        secretKeyRef:
          name: elasticsearch-es-elastic-user
          key: elastic
    buffer:
      timekey: 10m
      timekey_wait: 1m
      timekey_use_utc: true
      total_limit_size: 5GB
      overflow_action: drop_oldest_chunk