apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: netbox-postgres
spec:
  instances: 1
  topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        cnpg.io/cluster: netbox-postgres
  bootstrap:
    initdb:
      database: netbox
      owner: netbox
      secret:
        name: postgres
  storage:
    storageClass: truenas-nfs-spitfire-fast
    size: 10Gi
  monitoring:
    enablePodMonitor: true