---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: netbox-media
  labels:
    app.kubernetes.io/name: netbox
spec:
  accessModes:
  - "ReadWriteMany"
  storageClassName: "truenas-nfs-spitfire-fast"
  resources:
    requests:
      storage: "1Gi"
