---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: jackett
  labels:
    app.kubernetes.io/name: jackett
spec:
  serviceName: "jackett"
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jackett
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jackett
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: jackett
      containers:
      - name: jackett
        image: ghcr.io/linuxserver/jackett:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: "http"
          containerPort: 9117
          protocol: TCP
        volumeMounts:
        - name: jackett-config
          mountPath: /config
        resources:
          requests:
            cpu: "0.25"
            memory: "250Mi"
          limits:
            memory: "500Mi"
        readinessProbe:
          httpGet:
              path: /health
              port: 9117
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
              path: /health
              port: 9117
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 5
      dnsConfig:
        options:
        - name: ndots
          value: "1"
      volumes:
      - name: jackett-config
        persistentVolumeClaim:
          claimName: jackett-config
