---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: prowlarr
  labels:
    app.kubernetes.io/name: prowlarr
spec:
  serviceName: "prowlarr"
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: prowlarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: prowlarr
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: prowlarr
      containers:
      - name: prowlarr
        image: ghcr.io/linuxserver/prowlarr:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: "http"
          containerPort: 9696
          protocol: TCP
        volumeMounts:
        - name: prowlarr-config
          mountPath: /config
        resources:
          requests:
            cpu: "0.25"
            memory: "250Mi"
          limits:
            memory: "2Gi"
        readinessProbe:
          httpGet:
            path: /
            port: 9696
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /
            port: 9696
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 5
      dnsConfig:
        options:
        - name: ndots
          value: "1"
      volumes:
      - name: prowlarr-config
        persistentVolumeClaim:
          claimName: prowlarr-config
