---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: radarr
  labels:
    app.kubernetes.io/name: radarr
spec:
  serviceName: "radarr"
  replicas: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: radarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: radarr
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: radarr
      containers:
      - name: radarr
        image: ghcr.io/linuxserver/radarr:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: "http"
          containerPort: 7878
          protocol: TCP
        volumeMounts:
        - name: radarr-config
          mountPath: /config
        - name: data
          mountPath: /media
        envFrom:
        - configMapRef:
            name: mediaserver-permissions
        resources:
          requests:
            cpu: "0.25"
            memory: "250Mi"
          limits:
            memory: "4Gi"
        readinessProbe:
          httpGet:
              path: /
              port: 7878
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
              path: /
              port: 7878
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 5
      dnsConfig:
        options:
        - name: ndots
          value: "1"
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: "kube-plex-data"
      - name: radarr-config
        persistentVolumeClaim:
          claimName: radarr-config
