apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: unifi-controller
spec:
  serviceName: "unifi-controller"
  selector:
    matchLabels:
      app.kubernetes.io/name: unifi-controller
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: unifi-controller
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: unifi-controller
      containers:
      - name: unifi-controller
        image: ghcr.io/linuxserver/unifi-controller:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: TZ
          value: "America/Montreal"
        ports:
        - name: "l2-discoverable"
          containerPort: 1900
          protocol: UDP
        - name: "stun"
          containerPort: 3478
          protocol: UDP
        - name: "ap-discovery"
          containerPort: 10001
          protocol: UDP
        - name: "speed-test"
          containerPort: 6789
        - name: "internal-comms"
          containerPort: 8080
        - name: "unknown-port"
          containerPort: 8081
        - name: "http-web"
          containerPort: 8443
        - name: "http-s-redirect"
          containerPort: 8843
        - name: "http-redirect"
          containerPort: 8880
        volumeMounts:
        - name: config
          mountPath: /config
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 100
          periodSeconds: 20
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: "unifi-controller-config"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unpoller
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: unpoller
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: unpoller
    spec:
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: unpoller
      containers:
      - name: unpoller
        image: ghcr.io/unpoller/unpoller:latest
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: unifi-poller-config
        - secretRef:
            name: unifi-poller-secrets
        readinessProbe:
          httpGet:
            path: /
            port: metrics
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /
            port: metrics
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 5
        ports:
        - name: "metrics"
          containerPort: 9130