apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml
- https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/tags/v0.15.0/charts/external-dns/crds/dnsendpoint.yaml
- https://github.com/kubernetes-sigs/external-dns//kustomize?ref=v0.20.0

namespace: external-dns

patches:
- path: ./patches/cloudflare.yaml
  target:
    group: apps
    kind: Deployment
    name: external-dns
    version: v1
- path: ./patches/rbac.yaml
  target:
    group: rbac.authorization.k8s.io
    kind: ClusterRole
    name: external-dns
    version: v1

generators:
- ./generators/secrets-generator.yaml

labels:
- pairs:
    app.kubernetes.io/name: external-dns
  includeSelectors: true