version: '2.3'
services:
  kerio-connect:
    container_name: kerio-connect
    image: starcraft66/kerio-connect:{{ kerio_connect_version }}
    restart: always
    environment:
      PUID: 944 # default user id, for downloaded files access rights
      PGID: 944 # default group id, for downloaded files access rights
      TZ: "{{ timezone }}" # timezone
    volumes:
      - {{ kerio_installation_folder }}/cluster.cfg:/opt/kerio/mailserver/cluster.cfg
      - {{ kerio_installation_folder }}/users.cfg:/opt/kerio/mailserver/users.cfg
      - {{ kerio_installation_folder }}/mailserver.cfg:/opt/kerio/mailserver/mailserver.cfg
      - {{ kerio_installation_folder }}/stats.dat:/opt/kerio/mailserver/stats.dat
      - {{ kerio_installation_folder }}/charts.dat:/opt/kerio/mailserver/charts.dat
      - {{ kerio_license_folder }}:/opt/kerio/mailserver/license
      - {{ kerio_store_folder }}:/opt/kerio/mailserver/store
      - {{ kerio_sslcert_folder }}:/opt/kerio/mailserver/sslcert
    ports:
      - "135.181.141.139:4040:4040"
      - "135.181.141.139:25:25"
      - "135.181.141.139:80:80"
      - "135.181.141.139:110:110"
      - "135.181.141.139:119:119"
      - "135.181.141.139:143:143"
      - "135.181.141.139:389:389"
      - "135.181.141.139:443:443"
      - "135.181.141.139:465:465"
      - "135.181.141.139:563:563"
      - "135.181.141.139:587:587"
      - "135.181.141.139:636:636"
      - "135.181.141.139:993:993"
      - "135.181.141.139:995:995"
      - "135.181.141.139:5222:5222"
      - "135.181.141.139:5223:5223"
    networks:
      kerio:
        ipv4_address: 10.72.129.2
        ipv6_address: "2a01:4f9:3a:15b0:9::2"

networks:
  kerio:
    #name: kerio
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-kerio
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.72.129.0/24
          gateway: 10.72.129.1
        - subnet: "2a01:4f9:3a:15b0:9::/80"
          gateway: "2a01:4f9:3a:15b0:9::1"