apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./resources/namespace.yaml

namespace: logging

helmCharts:
- name: logging-operator
  includeCRDs: true
  releaseName: logging
  version: 6.3.2
  repo: oci://ghcr.io/kube-logging/helm-charts
  namespace: logging
  valuesInline:
    createCustomResource: false
    monitoring:
      serviceMonitor:
        enabled: true