apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml

namespace: xtradb-operator

helmCharts:
- name: pxc-operator
  includeCRDs: true
  releaseName: xtradb-operator
  version: 1.19.0
  repo: https://percona.github.io/percona-helm-charts/
  namespace: xtradb-operator
