[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.web-secure]
    address = ":443"
    [entryPoints.web-secure.http]
      [entryPoints.web-secure.http.tls]
      certResolver = "le"

  [entryPoints.metrics]
    address = ":8082"
    
  [entryPoints.plex]
    address = ":32400"
    [entryPoints.plex.http]
      [entryPoints.plex.http.tls]
      certResolver = "le"

[certificatesResolvers.le.acme]
  email = "starcraft66@gmail.com"
  keyType = "RSA4096"
  storage = "/etc/traefik/acme.json"
{% if development is defined and development == true %}
  caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
  [certificatesResolvers.le.acme.dnsChallenge]
    provider = "cloudflare"
    delayBeforeCheck = 15

[tls.options]
  [tls.options.default]
    minVersion = "VersionTLS12"
    sniStrict = true
# Cipher suites using RSA keys are disabled because we are
# only using ECDSA certificates since traefik does not (yet?)
# support using a combination of RSA and ECDSA certificates
# like nginx does.
    cipherSuites = [
        "TLS_AES_256_GCM_SHA384",
        "TLS_CHACHA20_POLY1305_SHA256",
        "TLS_AES_128_GCM_SHA256",
#        "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
        "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
#       "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
        "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305",
#        "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
        "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"
      ]

[log]
  level = "INFO"

[api]
  dashboard = true

[metrics.prometheus]
  buckets = [0.1,0.3,1.2,5.0]
  entryPoint = "metrics"

[providers.docker]
  network = "monitoring"
  exposedByDefault = false

[providers]
  [providers.file]
    directory = "/etc/traefik"
    filename = "http.toml"