apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-uploads
  labels:
    app.kubernetes.io/name: immich
spec:
  storageClassName: freenas-nfs-csi
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 300Gi
