apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-ctfnote
spec:
  instances: 2
  topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        cnpg.io/cluster: postgres-ctfnote
  bootstrap:
    initdb:
      database: ctfnote
      owner: ctfnote
      secret:
        name: postgres-credentials
  storage:
    storageClass: truenas-iscsi-spitfire-fast
    size: 10Gi
  monitoring:
    enablePodMonitor: true