apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml
- ./resources/deployment.yaml
- ./resources/service.yaml
- ./resources/postgres.yaml
- ./resources/volume.yaml

namespace: redis-operator

images:
- name: funkwhale/api
  newTag: 1.4.1
- name: funkwhale/front
  newTag: 1.4.1

configMapGenerator:
- name: funkwhale
  literals:
  - FUNKWHALE_HOSTNAME=music.tdude.co
  - FUNKWHALE_PROTOCOL=https
  - FUNKWHALE_SPA_HTML_ROOT=http://localhost/front
  - REVERSE_PROXY_TYPE=nginx
  - MEDIA_ROOT=/srv/funkwhale/data/media
  - STATIC_ROOT=/srv/funkwhale/data/static
  - MUSIC_DIRECTORY_PATH=/srv/funkwhale/data/music
  - MUSIC_DIRECTORY_SERVE_PATH=/srv/funkwhale/data/music
  - DJANGO_SETTINGS_MODULE=config.settings.production
  - FUNKWHALE_FRONTEND_PATH=/srv/funkwhale/front/dist
  - NGINX_MAX_BODY_SIZE=500M
  - DJANGO_ALLOWED_HOSTS='*'
- name: funkwhale-front
  files:
  - ./config/nginx.conf
  - ./config/proxy.conf

helmCharts:
- name: redis
  releaseName: funkwhale-redis
  version: 25.2.0
  repo: oci://registry-1.docker.io/bitnamicharts
  namespace: funkwhale
  valuesInline:
    auth:
      existingSecret: "funkwhale"
    global:
      storageClass: "truenas-nfs-spitfire-fast"
    master:
      resourcesPreset: medium
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: redis
            app.kubernetes.io/instance: funkwhale-redis
            app.kubernetes.io/component: master
    replica:
      resourcesPreset: medium
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: redis
            app.kubernetes.io/instance: funkwhale-redis
            app.kubernetes.io/component: replica
