version: '2'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:{{ elk_version }}
    container_name: elasticsearch
    restart: unless-stopped
#    user: "946:946"
    volumes:
      - {{ elk_elasticsearch_folder }}/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      - {{ elk_elasticsearch_folder }}/data:/usr/share/elasticsearch/data
#    ports:
#      - "9200:9200"
#      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx8G -Xms1G"
      TZ: "{{ timezone }}"
    networks:
      - {{ elk_docker_network }}

  logstash:
    image: docker.elastic.co/logstash/logstash-oss:{{ elk_version }}
    container_name: logstash
    restart: unless-stopped
#    user: "946:946"
    volumes:
      - {{ elk_logstash_folder }}/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - {{ elk_logstash_pipeline_folder }}/:/usr/share/logstash/pipeline:ro
    ports:
      - "127.0.0.1:5000:5000"
      - "::1:5044:5044"
#      - "9600:9600"
    environment:
      LS_JAVA_OPTS: "-Xmx2G -Xms256M"
      TZ: "{{ timezone }}"
    networks:
      - {{ elk_docker_network }}
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:{{ elk_version }}
    container_name: kibana
    restart: unless-stopped
#    user: "946:946"
    volumes:
      - {{ elk_kibana_folder }}/:/usr/share/kibana/config:ro
    environment:
      TZ: "{{ timezone }}"
    networks:
      - {{ elk_docker_network }}
    depends_on:
      - elasticsearch
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kibana.rule=Host(`kibana.sapling.tdude.co`)"
      - "traefik.docker.network={{ elk_docker_network }}"
      - "traefik.http.services.kibana.loadbalancer.server.port=5601"
      - "traefik.http.routers.kibana.entryPoints=web,web-secure"
      - "traefik.http.routers.kibana.middlewares=https@file,fwauth@file"
      - "traefik.http.routers.kibana.tls=true"
      - "traefik.http.routers.kibana.tls.certresolver=le"
networks:
  {{ elk_docker_network }}:
    external:
      name: {{ elk_docker_network }}