apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml

namespace: omada

helmCharts:
- name: omada-controller
  releaseName: omada-controller
  valuesFile: ./resources/omada-controller.yaml
  version: 17.11.3
  repo: oci://oci.trueforge.org/truecharts
  namespace: omada