---
apiVersion: v1
kind: Service
metadata:
  name: wizarrr
  labels:
    app.kubernetes.io/name: wizarrr
spec:
  ipFamilyPolicy: RequireDualStack
  ipFamilies:
  - IPv6
  - IPv4
  ports:
  - name: http
    protocol: TCP
    targetPort: http
    port: 80
  selector:
    app.kubernetes.io/name: wizarrr
  type: ClusterIP
