apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./resources/namespace.yaml
- ./resources/providers.yaml

namespace: crossplane

helmCharts:
- name: crossplane
  # Causes error in ArgoCD for some reason
  # not needed anyway
  # includeCRDs: true
  releaseName: crossplane
  version: 2.2.0
  repo: https://charts.crossplane.io/stable
  namespace: crossplane
